<div class="wrap-account-settings groupWrapSett">
    <form class="form" autocomplete="off" name="formChangePass" ng-submit="changePassword(formChangePass)">
        <div class="form-control">
            <label>
                סיסמה חדשה
            </label>
            <input id="uPass__" name="uPass__" style="display: none;" value="" type="password" autocomplete="off">
            <input type="{{(showPassword)?'text':'password'}}"
                   readonly
                   onfocus="this.removeAttribute('readonly');"
                   ng-model="$parent.newPassword"
                   autocomplete="off"
                   name="uPass"
                   required=""
                   ng-pattern="/^(?=.*[a-zA-Z])(?=.*[0-9]).{8,12}$/"/>
        </div>
        <div ng-show="formChangePass.$submitted || formChangePass.uPass.$touched" class="alertsMessages">
            <div ng-show="formChangePass.uPass.$error.required">
                מידע זה הינו מידע חובה
            </div>
            <div ng-show="formChangePass.uPass.$error.pattern">
                8-12 תווים, לפחות ספרה אחת
            </div>
        </div>
        <div class="form-control">
            <label>
                וידוא סיסמא
            </label>
            <input id="uPassRe__" name="uPassRe__" style="display: none;" value="" type="password" autocomplete="off">
            <input type="{{(showPassword)?'text':'password'}}"
                   readonly
                   onfocus="this.removeAttribute('readonly');"
                   ng-model="$parent.newPasswordRepeat"
                   autocomplete="off"
                   name="uPassRe"
                   required=""
                   ng-pattern="/^(?=.*[a-zA-Z])(?=.*[0-9]).{8,12}$/"/>
        </div>
        <div ng-show="formChangePass.$submitted || formChangePass.uPassRe.$touched" class="alertsMessages">
            <div ng-show="formChangePass.uPassRe.$error.required">
                מידע זה הינו מידע חובה
            </div>
            <div ng-show="formChangePass.uPassRe.$error.pattern">
                8-12 תווים, לפחות ספרה אחת
            </div>
        </div>
        <div ng-show="formChangePass.$submitted || (formChangePass.uPass.$touched && formChangePass.uPassRe.$touched)"
             class="alertsMessages">
            <div ng-if="formChangePass.$valid && ($parent.newPassword != $parent.newPasswordRepeat)">
                הסיסמאות אינן זהות
            </div>
        </div>
        <div class="form-control">
            <input type="checkbox" data-ng-model="showPassword" id="pass_change">
            <label for="pass_change">
                הצג סיסמא
            </label>
        </div>
        <div class="error">
            {{$parent.errorChange}}
        </div>
        <div class="suc">
            {{$parent.success}}
        </div>
        <button class="button"
                type="submit"
                ng-disabled="!formChangePass.$valid || ($parent.newPassword != $parent.newPasswordRepeat)">
            שמור שינויים
        </button>
    </form>
</div>
