<div ng-init="init()">
    <section class="wrap_login">
        <form autocomplete="off" class="login-form" name="loginForm" submit="sendPassword()" acco-valid
              ng-hide="isSend">
            <div class="forgot-password-header">
                <h3>
                    שחזור סיסמא
                </h3>
                <p>
                    יש להזין את הפרטים והמערכת תשלח לך סיסמא
                </p>
                <p>
                    זמנית לטלפון הנייד שהזנת בעת ההרשמה.
                </p>
            </div>
            <div class="form-control">
                <label>
                    שם משתמש/דואר אלקטרוני
                </label>
                <input type="text" name="email" ng-model="user.email">
            </div>
            <div class="form-control">
                <label>
                    מס' הנייד שהזנת בעת ההרשמה
                </label>
                <input name="password" ng-model="user.tel" type="tel">
            </div>
            <strong ng-if="error">
                אחד מהפרטים שהוזן שגוי
            </strong>
            <div class="form-control">
                <input type="submit" value="שליחה"/>
            </div>
            <img src="image/login_logos.png" style="display:block; margin:0 auto;"/>
            <div class="back-to-login" data-ng-click="$state.go('login')">
                < חזרה למסך כניסה
            </div>

            <div ng-if="error" class="loginForm_error_recover">
                <h3>
                    הפרטים נכונים ולא נשלחה סיסמה?
                </h3>
                <div>
                    <a href="https://bizibox.biz/contact">
                        צרו קשר
                    </a>
                </div>
            </div>
        </form>

        <form ng-if="isSend" class="login-form loginForm_isSend">
            <div class="forgot-password-header">
                <h3>
                    סיסמה זמנית נשלחה לנייד שלך.
                    <br>
                    לאחר כניסה למערכת יש לעדכן סיסמה חדשה.
                </h3>
            </div>
            <div class="form-control">
                <button ng-click="$state.go('login')" type="button">
                    חזרה למסך כניסה
                </button>
            </div>
            <img src="image/login_logos.png" style="display:block; margin:0 auto;"/>
        </form>
    </section>
</div>




