<div data-ng-init="init()">
    <h2 class="titlePage" data-ng-class="{'helpViewColor': appData.helpSignUp == true && appData.helpSignUpInd == 1}">
        יתרת הבנקים
    </h2>
    <div class="top-graph" data-ng-class="{'helpView': appData.helpSignUp == true && appData.helpSignUpInd == 1}">
        <div ng-if="appData.selectedCompany && appData.selectedCompany.accounts && appData.selectedCompany.accounts.bank_account_list == null"
             class="notAccBank_account_list">
            לא נמצאו חשבונות
        </div>
        <div class="navBanksSlider">
            <i class="fa fa-caret-right" id="rightNavClick"></i>
            <i class="fa fa-caret-left" id="leftNavClick"></i>
        </div>
        <ul class="navTopGraph" id="navTopGraphBanks"
            ng-if="appData.selectedCompany.accounts.bank_account_list !== null" nav-slider-banks>
            <li data-ng-click="$parent.updateSelection(0, false);"
                ng-show="appData.selectedCompany.accounts.bank_account_list.length > 1">
                <div class="titlesBanksAllclass">
                    <p class="titlesBanksAll floatnone">
                        כל הבנקים
                        <img src="image/info_icon.png" tooltips-white title="סה”כ יתרת כל הבנקים המעודכנים במערכת.">
                    </p>
                </div>
                <div class="sumtitlesBanksAll"
                     ng-class="{'selected':$parent.shownGraphIndex == 0, 'redNum': a.balance_use < 0}">
                    <span tooltips-white class="hariga_icon" ng-show="a.balance_use < 0" title="חריגה"></span>
                    <span ng-if="!appData.selectedCompany.accounts.total_opening_balance">
                       -
                    </span>
                    <span>
                        {{getTotal(appData.selectedCompany.accounts.total_opening_balance)}}
                    </span>
                      <!--<span ng-if="appData.selectedCompany.tazrim.length && appData.selectedCompany.tazrim && appData.selectedCompany.tazrim[0].rows[0].total_itra">-->
                        <!--&lt;!&ndash;<span>&#8362;</span>&ndash;&gt;-->
                          <!--{{getTotal(appData.selectedCompany.tazrim[0].rows[0].total_itra)}}-->
                    <!--</span>-->
                </div>
            </li>
            <li ng-repeat="a in appData.selectedCompany.accounts.bank_account_list" class="typeLi{{a.type}}">
                <div class="titlesBanksAllclass" ng-click="$parent.updateSelection($index + 1, false);"
                     ng-if="a.type!==4">
                    <!--<p class="titlesBanksAll" ng-style="{'color': colorsBanks[$index]}">-->
                    <p class="titlesBanksAll" tooltips-white-banks tooltip="{{a}}"
                       ng-class="{'selected':($parent.shownGraphIndex == $index + 1) ||  (appData.selectedCompany.accounts.bank_account_list.length == 1 && $index == 0)}">
                        <i class="bank{{a.bank_id}}"></i>
                        {{a.company_account_nickname}}
                    </p>
                    <img src="image/alert_icon.png" tooltips-white title="חשבון לא מעודכן להיום" ng-if="a.type==1"
                         class="alertUpdate">
                    <img src="image/alert_icon.png" tooltips-white title="{{accoConversions.getStatus(a.status)}}"
                         ng-if="a.type==2||a.type==3" class="alertUpdate">

                    <!--<span ng-click="$parent.$state.go('tazrim')">-->
                    <!--{{getDateEqualToday(a.balance_last_update_date)}}-->
                    <!--</span>-->
                </div>
                <div class="sumtitlesBanksAll" ng-click="$parent.updateSelection($index + 1, false);" ng-if="a.type!==4"
                     tooltips-white-banks tooltip="{{a}}"
                     ng-class="{'selected':($parent.shownGraphIndex == $index + 1) ||  (appData.selectedCompany.accounts.bank_account_list.length == 1 && $index == 0)}">
                    <span tooltips-tazrim class="hariga_icon" ng-show="a.balance_use < 0" title="חריגה"></span>
                    <span ng-class="{'redNum': a.balance_use < 0}">
                        <!--<span>&#8362;</span>-->
                        {{getTotal(a.opening_balance)}}
                    </span>
                </div>

                <div class="titlesBanksAllclass" ng-if="a.type==4" ng-click="$parent.updateSelection($index + 1, false);">
                    <!--<p class="titlesBanksAll" ng-style="{'color': colorsBanks[$index]}">-->
                    <p class="titlesBanksAll" tooltips-white-banks tooltip="{{a}}"
                       ng-class="{'selected':($parent.shownGraphIndex == $index + 1) ||  (appData.selectedCompany.accounts.bank_account_list.length == 1 && $index == 0)}">
                        <i class="bank{{a.bank_id}}"></i>
                        {{a.company_account_nickname}}
                    </p>
                    <img src="image/alert_icon.png" tooltips-white title="{{accoConversions.getStatus(a.status)}}"
                         class="alertUpdate">
                </div>
                <div class="sumtitlesBanksAll" ng-if="a.type==4"
                     ng-click="updatePasswordPopUpMess(a.token, {BankNumber: a.bank_id})" tooltips-white-banks
                     tooltip="{{a}}"
                     ng-class="{'selected':($parent.shownGraphIndex == $index + 1) ||  (appData.selectedCompany.accounts.bank_account_list.length == 1 && $index == 0)}">
                    <span ng-if="a.type==4" class="passWrongLink">
                        סיסמא שגויה
                    </span>
                </div>
            </li>
        </ul>
        <div class="navTopGraph"
             ng-if="appData.selectedCompany.accounts.bank_account_list !== null && !appData.hideGraph">
            <!--<i class="bgAllNew" ng-if="appData.popUpAllNew1"></i>-->
            <div ng-click="nextAndPrevGraph('next')"
                 ng-class="{'fa fa-spinner rights': $parent.spinnerNext, 'fa fa-caret-right': !$parent.spinnerNext}"
                 ng-if="chartData" title="הבא">
                <!--<div class="tooltipArr" ng-if="appData.popUpAllNew1" stop-propag>-->
                <!--<div>-->
                <!--<input type="checkbox" ng-model="hidealertnew1" id="hidealert1" ng-change="notShowNew1(hidealertnew1)">-->
                <!--<label for="hidealert1">-->
                <!--אל תציג שוב-->
                <!--</label>-->
                <!--<img src="image/close_popup.png" stop-propag alt="סגור" ng-click="appData.popUpAllNew1 = false">-->
                <!--</div>-->

                <!--חדש -  אפשר לראות נתוני עתיד בעת לחיצה על החץ-->
                <!--</div>-->
            </div>
            <div chart-draw-new chart-data="chartData"
                 style="width:100%;height:243px;direction: ltr;background: transparent;"></div>
            <div ng-click="nextAndPrevGraph('prev')"
                 ng-if="chartData && $parent.showPrevButton"
                 ng-class="{'fa fa-spinner lefts': $parent.spinnerPrev, 'fa fa-caret-left': !$parent.spinnerPrev}"
                 title="הקודם"></div>
        </div>
        <div class="navTopGraph"
             ng-if="appData.selectedCompany.accounts.bank_account_list == null || appData.hideGraph">
            <h2 class="alertNotDataGraph">
                לא ניתן להציג נתונים לחשבונות לא מעודכנים
            </h2>
        </div>
        <i ng-if="loaderSkiraKsafimGraph || appData.selectedCompany.accounts.bank_account_list == null"
           class="loader_table">
            <img src="image/loader.gif" alt="Loading...">
        </i>
    </div>
    <div>
        <div class="pies-header clearfix" ng-if="appData.selectedCompany.accounts.bank_account_list !== null">
            <div data-ng-class="{'helpViewColor': appData.helpSignUp == true && appData.helpSignUpInd == 2}">
                ניתוח כספי לתקופת {{ datePeriod }}
            </div>
            <div class="buttons_groups"
                 data-ng-class="{'helpView': appData.helpSignUp == true && appData.helpSignUpInd == 2}">
                <div class="button_group">
                    <button ng-click="$parent.pieInd = 0;" class="ind-type"
                            data-ng-class="{'active': $parent.pieInd == 0}">
                        אמצעי תשלום
                    </button>
                    <button ng-click="$parent.pieInd = 1;" class="ind-type"
                            data-ng-class="{'active': $parent.pieInd == 1}">
                        קטגוריות
                    </button>
                </div>
                <div dropdown>
                    <button class="dropdown-toggle" ng-click="buttonActive = !buttonActive"
                            ng-class="{'buttonActive' : buttonActive == false}">
                        לפי תאריך
                    </button>
                    <div class="dropdown-content">
                        <form class="filter-form" autocomplete="off">
                            <div class="form-control">
                                <input type="radio" data-ng-model="appData.dateFilter.type" value="0" id="dateFilter1"
                                       ng-change="disabledDates();">
                                <label for="dateFilter1">
חודש
                                </label>
                                <select ng-model="dateFilter.byMonth"
                                        ng-options="months.indexOf(selectedItem) as selectedItem for selectedItem in months"
                                        ng-change="appData.dateFilter.type = '0';disabledDates();"></select>
                                <select data-ng-model="dateFilter.byYear" data-ng-options="y for y in years"
                                        ng-change="appData.dateFilter.type = '0';disabledDates();"></select>
                            </div>
                            <div class="form-control">
                                <input type="radio" data-ng-model="appData.dateFilter.type" value="1" id="dateFilter2"
                                       ng-change="disabledDates();">
                                <label for="dateFilter2">
                                    לפי שנה
                                </label>
                                <select data-ng-model="dateFilter.byOnlyYear" data-ng-options="y for y in years"
                                        ng-change="appData.dateFilter.type = '1';disabledDates();"></select>
                            </div>
                            <div class="form-control">
                                <input type="radio" data-ng-model="appData.dateFilter.type" value="2" id="dateFilter3"
                                       ng-change="disabledDates();">
                                <label for="dateFilter3">
                                    בין חודשים
                                </label>
                                <select data-ng-model="dateFilter.fromMonth"
                                        data-ng-options="months.indexOf(selectedItem) as selectedItem for selectedItem in months"
                                        ng-change="appData.dateFilter.type = '2';disabledDates();"
                                        ng-class="{'redErrors': appData.redErrorFilterType == '2'}"></select>
                                <select data-ng-model="dateFilter.fromYear" data-ng-options="y for y in years"
                                        ng-change="appData.dateFilter.type = '2';disabledDates();"
                                        ng-class="{'redErrors': appData.redErrorFilterType == '2'}"></select>
                                <div>
                                    עד
                                </div>
                                <select data-ng-model="dateFilter.toMonth"
                                        data-ng-options="months.indexOf(selectedItem) as selectedItem for selectedItem in months"
                                        ng-change="appData.dateFilter.type = '2';disabledDates();"
                                        ng-class="{'redErrors': appData.redErrorFilterType == '2'}"></select>
                                <select data-ng-model="dateFilter.toYear" data-ng-options="y for y in years"
                                        ng-change="appData.dateFilter.type = '2';disabledDates();"
                                        ng-class="{'redErrors': appData.redErrorFilterType == '2'}"></select>
                            </div>
                            <div class="form-control">
                                <button ng-click="clickGa('סקירה כללית כספים-בחירת תאריך');getWithdrawals($parent.pieInd)"
                                        class="dropdown-close button"
                                        ng-disabled="appData.redErrorFilterType !== false">
                                    עדכון
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-pies"
             data-ng-show="appData.selectedCompany.withdrawals && appData.selectedCompany.accounts.bank_account_list !== null"
             data-ng-class="{'helpViewBg': appData.helpSignUp == true && appData.helpSignUpInd == 2}">

            <div>
                <div pie-draw pie-data="appData.selectedCompany.withdrawals.negative"></div>
                <div class="legend">
                    <div>
                        משיכות
                    </div>
                    <div><span>&#8362;</span>{{getTotal(appData.selectedCompany.withdrawals[0].sum)}}</div>
                </div>
            </div>

            <div>
                <div pie-draw pie-data="appData.selectedCompany.withdrawals.positive"></div>
                <div class="legend">
                    <div>

                        הפקדות
                    </div>
                    <div><span>&#8362;</span>{{getTotal(appData.selectedCompany.withdrawals[1].sum)}}</div>
                </div>
            </div>

        </div>
    </div>


    <div class="mini-pies" ng-if="appData.selectedCompany.accounts.bank_account_list !== null">
        <i ng-if="loaderSkiraKsafimGraphPay  || appData.selectedCompany.accounts.bank_account_list == null"
           class="loader_table">
            <img src="image/loader.gif" alt="Loading...">
        </i>
        <div>
            <div data-ng-repeat="p in appData.selectedCompany.withdrawals[0].children"
                 class="pieCube"
                 ng-click="goToBankAccountsTable(p.type, 1)">
                <div pie-draw pie-data="p" class="pieToLoad"></div>
                <div>
                    <div class="nameMiniGraph">{{p.name}}</div>
                    <div data-ng-style="{'color':p.colors[$index]}"><span>&#8362;</span>{{getTotal(p.sum, true)}}</div>
                </div>
                <div class="lineGraphMini">
                    <div class="mini-pies-barchart">
                        <div data-ng-style="{'background-color':p.colors[$index], 'height': 100*p.tooltipYears[0].y/(p.tooltipYears[0].y + p.tooltipYears[1].y+ p.tooltipYears[2].y) + '%'}">

                            <span ng-if="p.tooltipYears[0].y"><i>{{accoConversions.getParseComma(p.tooltipYears[0].y)}}</i></span>

                        </div>
                        <div data-ng-style="{'background-color':p.colors[$index], 'height': 100*p.tooltipYears[1].y/(p.tooltipYears[0].y + p.tooltipYears[1].y+ p.tooltipYears[2].y) + '%'}">
                            <span ng-if="p.tooltipYears[1].y"><i>{{accoConversions.getParseComma(p.tooltipYears[1].y)}}</i></span>

                        </div>
                        <div data-ng-style="{'background-color':p.colors[$index], 'height': 100*p.tooltipYears[2].y/(p.tooltipYears[0].y + p.tooltipYears[1].y+ p.tooltipYears[2].y) + '%'}">
                            <span ng-if="p.tooltipYears[2].y"><i>{{accoConversions.getParseComma(p.tooltipYears[2].y)}}</i></span>
                        </div>
                    </div>
                    <div class="mini-pies-barchart-x" data-ng-show="p.tooltipYears.length > 0">
                        <div>{{accoConversions.getParseInt(('' + p.tooltipYears[0].x).substring(4,6)) + '/' + ('' +
                            p.tooltipYears[0].x).substring(2,4)}}
                        </div>
                        <div>{{accoConversions.getParseInt(('' + p.tooltipYears[1].x).substring(4,6)) + '/' + ('' +
                            p.tooltipYears[1].x).substring(2,4)}}
                        </div>
                        <div>{{accoConversions.getParseInt(('' + p.tooltipYears[2].x).substring(4,6)) + '/' + ('' +
                            p.tooltipYears[2].x).substring(2,4)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div data-ng-repeat="p in appData.selectedCompany.withdrawals[1].children"
                 class="pieCube"
                 ng-click="goToBankAccountsTable(p.type, 0)">
                <div pie-draw pie-data="p" class="pieToLoad"></div>
                <div>
                    <div class="nameMiniGraph">{{p.name}}</div>
                    <div data-ng-style="{'color':p.colors[$index]}"><span>&#8362;</span>{{getTotal(p.sum, true)}}</div>
                </div>
                <div data-ng-show="appData.dateFilter.type == '0' " class="lineGraphMini">
                    <div class="mini-pies-barchart">
                        <div data-ng-style="{'background-color':p.colors[$index], 'height': 100*p.tooltipYears[0].y/(p.tooltipYears[0].y + p.tooltipYears[1].y+ p.tooltipYears[2].y) + '%'}">
                            <span ng-if="p.tooltipYears[0].y"><i>{{accoConversions.getParseComma(p.tooltipYears[0].y)}}</i></span>
                        </div>
                        <div data-ng-style="{'background-color':p.colors[$index], 'height': 100*p.tooltipYears[1].y/(p.tooltipYears[0].y + p.tooltipYears[1].y+ p.tooltipYears[2].y) + '%'}">
                            <span ng-if="p.tooltipYears[1].y"><i>{{accoConversions.getParseComma(p.tooltipYears[1].y)}}</i></span>
                        </div>
                        <div data-ng-style="{'background-color':p.colors[$index], 'height': 100*p.tooltipYears[2].y/(p.tooltipYears[0].y + p.tooltipYears[1].y+ p.tooltipYears[2].y) + '%'}">
                            <span ng-if="p.tooltipYears[2].y"><i>{{accoConversions.getParseComma(p.tooltipYears[2].y)}}</i></span>
                        </div>
                    </div>
                    <div class="mini-pies-barchart-x">
                        <div>{{accoConversions.getParseInt((p.tooltipYears[0].x).toString().substring(4,6)) + '/' + (''
                            + p.tooltipYears[0].x).substring(2,4)}}
                        </div>
                        <div>{{accoConversions.getParseInt((p.tooltipYears[1].x).toString().substring(4,6)) + '/' + (''
                            + p.tooltipYears[1].x).substring(2,4)}}
                        </div>
                        <div>{{accoConversions.getParseInt((p.tooltipYears[2].x).toString().substring(4,6)) + '/' + (''
                            + p.tooltipYears[2].x).substring(2,4)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

