<div ng-init="init()">
    <h2 class="titlePage">רווח והפסד מתחילת שנה</h2>
    <div class="top-graph">
        <i ng-if="loaderSkiraAccGraph" class="loader_table">
            <img src="image/loader.gif" alt="Loading...">
        </i>
        <div class="navBanksSlider">
            <i class="fa fa-caret-right" id="rightNavClick"></i>
            <i class="fa fa-caret-left" id="leftNavClick"></i>
        </div>
        <ul class="navTopGraph">
            <li ng-repeat="a in appData.selectedCompany.skiraListType"
                ng-class="{'selected': ($index == indexGraph)}"
                ng-click="selectSkira(a.caption, $index)" class="skiraListType">
                <div ng-show="a.metchilatshana !== 0">
                    <p>
                        {{accoConversions.getStatusName(a.caption)}}
                    </p>
                    <span ng-class="{'greenNum': (a.caption == 'golmi' || a.caption == 'naki') && a.metchilatshana > 0, 'redNum': (a.caption == 'golmi' || a.caption == 'naki') && a.metchilatshana < 0}">
                        <span>&#8362; </span>{{getTotal(a.metchilatshana)}}
                    </span>
                </div>
            </li>
        </ul>
        <div class="navTopGraph">
            <div chart-draw-new chart-data="chartData"
                 style="width:100%;height:243px;direction: ltr;background: transparent;"></div>
        </div>
    </div>
    <div class="pies-header clearfix">
        <div>
            ניתוח הוצאות והכנסות לתקופת {{ datePeriod }}
        </div>
        <div class="buttons_groups">
            <div class="button_group" ng-show="appData.selectedCompany.withdrawals[0].sort_code_exists == 1">
                <button data-ng-click="getWithdrawals(2); " class="ind-type" data-ng-class="{'active': activePie == 2}">
                    כרטיסים
                </button>
                <button data-ng-click="getWithdrawals(3)" class="ind-type" data-ng-class="{'active': activePie == 3}">
                    קודי מיון
                </button>
            </div>
            <div dropdown>
                <button class="dropdown-toggle" ng-click="buttonActive = !buttonActive"
                        ng-class="{'buttonActive' : buttonActive == false}">
                    לפי תאריך
                </button>
                <div class="dropdown-content">
                    <form class="filter-form" autocomplete="off">
                        <div class="form-control">
                            <input type="radio" data-ng-model="appData.dateFilter.type" value="0" id="dateFilter1"
                                   ng-change="disabledDates();">
                            <label for="dateFilter1">
חודש
                            </label>
                            <select ng-model="dateFilter.byMonth"
                                    ng-options="months.indexOf(selectedItem) as selectedItem for selectedItem in months"
                                    ng-change="appData.dateFilter.type = '0';disabledDates();"></select>
                            <select data-ng-model="dateFilter.byYear" data-ng-options="y for y in years"
                                    ng-change="appData.dateFilter.type = '0';disabledDates();"></select>
                        </div>
                        <div class="form-control">
                            <input type="radio" data-ng-model="appData.dateFilter.type" value="1" id="dateFilter2"
                                   ng-change="disabledDates();">
                            <label for="dateFilter2">
                                לפי שנה
                            </label>
                            <select data-ng-model="dateFilter.byOnlyYear" data-ng-options="y for y in years"
                                    ng-change="appData.dateFilter.type = '1';disabledDates();"></select>
                        </div>
                        <div class="form-control">
                            <input type="radio" data-ng-model="appData.dateFilter.type" value="2" id="dateFilter3"
                                   ng-change="disabledDates();">
                            <label for="dateFilter3">
                                בין חודשים
                            </label>
                            <select data-ng-model="dateFilter.fromMonth"
                                    ng-class="{'redErrors': appData.redErrorFilterType == '2'}"
                                    data-ng-options="months.indexOf(selectedItem) as selectedItem for selectedItem in months"
                                    ng-change="appData.dateFilter.type = '2';disabledDates();"></select>
                            <select data-ng-model="dateFilter.fromYear"
                                    ng-class="{'redErrors': appData.redErrorFilterType == '2'}"
                                    data-ng-options="y for y in years"
                                    ng-change="appData.dateFilter.type = '2';disabledDates();"></select>
                            <div>
                                עד
                            </div>
                            <select data-ng-model="dateFilter.toMonth"
                                    ng-class="{'redErrors': appData.redErrorFilterType == '2'}"
                                    data-ng-options="months.indexOf(selectedItem) as selectedItem for selectedItem in months"
                                    ng-change="appData.dateFilter.type = '2';disabledDates();"></select>
                            <select data-ng-model="dateFilter.toYear"
                                    ng-class="{'redErrors': appData.redErrorFilterType == '2'}"
                                    data-ng-options="y for y in years"
                                    ng-change="appData.dateFilter.type = '2';disabledDates();"></select>
                        </div>
                        <div class="form-control">
                            <button ng-click="clickGa('סקירה כללית הנה״ח-בחירת תאריך');getWithdrawals($parent.pieInd)" class="dropdown-close button"
                                    ng-disabled="appData.redErrorFilterType !== false">
                                עדכון
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="main-pies" data-ng-show="appData.selectedCompany.withdrawals">
        <i ng-if="loaderSkiraAccGraphPay" class="loader_table">
            <img src="image/loader.gif" alt="Loading...">
        </i>

        <div>
            <div pie-draw pie-data="appData.selectedCompany.withdrawals.negative"></div>
            <div class="legend">
                <div>
                    הוצאות
                </div>
                <div><span>&#8362;</span>{{getTotal(appData.selectedCompany.withdrawals[0].sum)}}</div>
            </div>
        </div>

        <div>
            <div pie-draw pie-data="appData.selectedCompany.withdrawals.positive"></div>
            <div class="legend">
                <div>
                    הכנסות
                </div>
                <div><span>&#8362;</span>{{getTotal(appData.selectedCompany.withdrawals[1].sum)}}</div>
            </div>
        </div>

    </div>
    <div class="mini-pies">
        <i ng-if="loaderSkiraAccGraphPay" class="loader_table">
            <img src="image/loader.gif" alt="Loading...">
        </i>

        <div>
            <div data-ng-repeat="p in appData.selectedCompany.withdrawals[0].children"
                 class="pieCube"
                 ng-click="goToAnalisis(p.type, p.target_supplier_type_id, p.name)">
                <div pie-draw pie-data="p" class="pieToLoad"></div>
                <div>
                    <div class="nameMiniGraph">{{p.name}}</div>
                    <div data-ng-style="{'color':p.colors[$index]}"><span>&#8362;</span>{{getTotal(p.sum)}}</div>
                </div>
                <div class="lineGraphMini">
                    <div class="mini-pies-barchart">
                        <div data-ng-style="{'background-color':p.colors[$index], 'height': 100 * p.tooltipYears[0].y / (p.tooltipYears[0].y + p.tooltipYears[1].y +  p.tooltipYears[2].y) + '%'}">
                            <span ng-if="p.tooltipYears[0].y"><i>{{accoConversions.getParseComma(p.tooltipYears[0].y)}}</i></span>
                        </div>
                        <div data-ng-style="{'background-color':p.colors[$index], 'height': 100*p.tooltipYears[1].y/(p.tooltipYears[0].y + p.tooltipYears[1].y+ p.tooltipYears[2].y) + '%'}">
                            <span ng-if="p.tooltipYears[1].y"><i>{{accoConversions.getParseComma(p.tooltipYears[1].y)}}</i></span>

                        </div>
                        <div data-ng-style="{'background-color':p.colors[$index], 'height': 100*p.tooltipYears[2].y/(p.tooltipYears[0].y + p.tooltipYears[1].y+ p.tooltipYears[2].y) + '%'}">
                            <span ng-if="p.tooltipYears[2].y"><i>{{accoConversions.getParseComma(p.tooltipYears[2].y)}}</i></span>

                        </div>
                    </div>
                    <div class="mini-pies-barchart-x" data-ng-show="p.tooltipYears.length > 0">
                        <div>{{accoConversions.getParseInt(('' + p.tooltipYears[0].x).substring(4,6)) + '/' + ('' +
                            p.tooltipYears[0].x).substring(2,4)}}
                        </div>
                        <div>{{accoConversions.getParseInt(('' + p.tooltipYears[1].x).substring(4,6)) + '/' + ('' +
                            p.tooltipYears[1].x).substring(2,4)}}
                        </div>
                        <div>{{accoConversions.getParseInt(('' + p.tooltipYears[2].x).substring(4,6)) + '/' + ('' +
                            p.tooltipYears[2].x).substring(2,4)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div data-ng-repeat="p in appData.selectedCompany.withdrawals[1].children"
                 class="pieCube"
                 ng-click="goToAnalisis(p.type, p.target_supplier_type_id, p.name)">
                <div pie-draw pie-data="p" class="pieToLoad"></div>
                <div>
                    <div class="nameMiniGraph">{{p.name}}</div>
                    <div data-ng-style="{'color':p.colors[$index]}"><span>&#8362;</span>{{getTotal(p.sum)}}</div>
                </div>
                <div data-ng-show="appData.dateFilter.type == '0' " class="lineGraphMini">
                    <div class="mini-pies-barchart">
                        <div data-ng-style="{'background-color':p.colors[$index], 'height': 100*p.tooltipYears[0].y/(p.tooltipYears[0].y + p.tooltipYears[1].y+ p.tooltipYears[2].y) + '%'}">
                            <span ng-if="p.tooltipYears[0].y"><i>{{accoConversions.getParseComma(p.tooltipYears[0].y)}}</i></span>
                        </div>
                        <div data-ng-style="{'background-color':p.colors[$index], 'height': 100*p.tooltipYears[1].y/(p.tooltipYears[0].y + p.tooltipYears[1].y+ p.tooltipYears[2].y) + '%'}">
                            <span ng-if="p.tooltipYears[1].y"><i>{{accoConversions.getParseComma(p.tooltipYears[1].y)}}</i></span>
                        </div>
                        <div data-ng-style="{'background-color':p.colors[$index], 'height': 100*p.tooltipYears[2].y/(p.tooltipYears[0].y + p.tooltipYears[1].y+ p.tooltipYears[2].y) + '%'}">
                            <span ng-if="p.tooltipYears[2].y"><i>{{accoConversions.getParseComma(p.tooltipYears[2].y)}}</i></span>
                        </div>
                    </div>
                    <div class="mini-pies-barchart-x">
                        <div>{{accoConversions.getParseInt((p.tooltipYears[0].x).toString().substring(4,6)) + '/' + (''
                            + p.tooltipYears[0].x).substring(2,4)}}
                        </div>
                        <div>{{accoConversions.getParseInt((p.tooltipYears[1].x).toString().substring(4,6)) + '/' + (''
                            + p.tooltipYears[1].x).substring(2,4)}}
                        </div>
                        <div>{{accoConversions.getParseInt((p.tooltipYears[2].x).toString().substring(4,6)) + '/' + (''
                            + p.tooltipYears[2].x).substring(2,4)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

