<div ng-init="init()">
    <div data-ng-include src="'views/templates/header.html?ver=3.80'"></div>
    <div data-ng-include src="'views/templates/alertLinePer.html?ver=3.80'"></div>

    <div class="page-content" ng-class="{'nav-closed': appData.mainNavClosed}">
        <div class="funds-header headerCardsAna">
            <h2 class="page-header" style="display: inline-block;">
                תזרים מאוחד
            </h2>
            <div class="funds-action-bar clearfix">
                <ul class="exports exMehuadGr">
                    <li class="excel" exports-excel-mehuad tooltips-tazrim="" title="ייצוא לExcel">
                        <i></i>
                    </li>
                    <li class="mail" tooltips-tazrim="" ng-click="sendMailer()" title="שליחה במייל">
                        <i></i>
                    </li>
                    <li class="print" tooltips-tazrim="" exports-print-mehuad title="הדפסה">
                        <i></i>
                    </li>
                </ul>
                <button class="add_bank_mehuad_bank" ng-click="$parent.$state.go('settings.accounts')">הוסף בנק</button>

                <!--<div class="buttons_href meuhadNavs">-->
                    <!--<button tooltips-tazrim title="טבלת נתונים" data-ng-click="$state.go('tazrimMeuhad.table')"-->
                            <!--class="icon-table"-->
                            <!--ng-class="{'active': $state.current.name == 'tazrimMeuhad.table'}"></button>-->
                    <!--<button tooltips-tazrim title="גרף" data-ng-click="$state.go('tazrimMeuhad.graph')"-->
                            <!--class="icon-graph"-->
                            <!--ng-class="{'active': $state.current.name == 'tazrimMeuhad.graph'}"></button>-->
                <!--</div>-->
                <div dropdown class="dropdownLeft">
                    <button class="dropdown-toggle">
                        תאריך נבחר:
                        {{textTitlePage}}
                    </button>
                    <div class="dropdown-content">
                        <form class="filter-form" autocomplete="off">
                            <div class="form-control">
                                <input type="radio" ng-model="appData.dateFilterTypesMeuhad" value="00" id="dateFilter0"
                                       ng-change="disabledDates();">
                                <label for="dateFilter0" style="width: 300px;">
לפי חודשיים הקרובים
                                </label>
                            </div>
                            <div class="form-control">
                                <input id="dateFiltertype0" type="radio" data-ng-model="appData.dateFilterTypesMeuhad" value="0" ng-change="disabledDates();">
                                <label for="dateFiltertype0">
                                    לפי חודש
                                </label>
                                <select ng-model="dateFilter.byMonth" ng-options="months.indexOf(selectedItem) as selectedItem for selectedItem in months" ng-change="appData.dateFilterTypesMeuhad = '0';disabledDates();"></select>
                                <select data-ng-model="dateFilter.byYear" data-ng-options="y for y in years" ng-change="appData.dateFilterTypesMeuhad = '0';disabledDates();"></select>
                            </div>
                            <div class="form-control">
                                <input id="dateFiltertype1" type="radio" data-ng-model="appData.dateFilterTypesMeuhad" value="1" ng-change="disabledDates();">
                                <label for="dateFiltertype1">
                                    בין תאריכים
                                </label>
                                <div class="datepicker_inputs">
                                    <div class="datepicker_wrap">
                                        <input ng-class="{'redErrors': appData.redErrorFilterType == '1'}" readonly="readonly" date-picker type="text" ng-model="datesPicker.fromDatePicker" name="fromDatePicker" ng-change="appData.dateFilterTypesMeuhad = '1';disabledDates();">
                                    </div>
                                    <div class="between_line">-</div>
                                    <div class="datepicker_wrap">
                                        <input ng-class="{'redErrors': appData.redErrorFilterType == '1'}" readonly="readonly" date-picker type="text" ng-model="datesPicker.toDatePicker" name="toDatePicker" ng-change="appData.dateFilterTypesMeuhad = '1';disabledDates();">
                                    </div>
                                </div>
                            </div>
                            <div class="form-control">
                                <input id="dateFiltertype2" type="radio" data-ng-model="appData.dateFilterTypesMeuhad" value="2" ng-change="disabledDates();">
                                <label for="dateFiltertype2">
                                    בין חודשים
                                </label>
                                <select ng-class="{'redErrors': appData.redErrorFilterType == '2'}" data-ng-model="dateFilter.fromMonth" data-ng-options="months.indexOf(selectedItem) as selectedItem for selectedItem in months" ng-change="appData.dateFilterTypesMeuhad = '2';disabledDates();"></select>
                                <select ng-class="{'redErrors': appData.redErrorFilterType == '2'}" data-ng-model="dateFilter.fromYear" data-ng-options="y for y in years" ng-change="appData.dateFilterTypesMeuhad = '2';disabledDates();"></select>
                                <div class="label_between">
                                    עד
                                </div>
                                <select ng-class="{'redErrors': appData.redErrorFilterType == '2'}" data-ng-model="dateFilter.toMonth" data-ng-options="months.indexOf(selectedItem) as selectedItem for selectedItem in months" ng-change="appData.dateFilterTypesMeuhad = '2';disabledDates();"></select>
                                <select ng-class="{'redErrors': appData.redErrorFilterType == '2'}" data-ng-model="dateFilter.toYear" data-ng-options="y for y in years" ng-change="appData.dateFilterTypesMeuhad = '2';disabledDates();"></select>
                            </div>
                            <div class="form-control">
                                <button data-ng-click="loadPage()" class="dropdown-close button" ng-disabled="appData.redErrorFilterType !== false">
                                    עדכון
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="nav_filter_left meuhadNavsFilter">
                    <button tooltips-tazrim ng-click="prevTr()" class="prev_tr" title="נתוני שבועיים קודמים">
                        <i></i>
                    </button>
                    <button tooltips-tazrim ng-click="nextTr()" class="next_tr" title="נתוני שבועיים הבאים">
                        <i></i>
                    </button>
                </div>
            </div>
        </div>

        <div ui-view="lazyLoadView"></div>
    </div>
</div>
