<div class="reportsAccTdWrap">
    <div class="title">
        <p>
            הקלדות
        </p>

        <div>
            <label>
                מחודש
            </label>
            <select name="month_nav" data-ng-model="$parent.fromMonthType" ng-change="typing()">
                <option value="01">ינואר</option>
                <option value="02">פברואר</option>
                <option value="03">מרץ</option>
                <option value="04">אפריל</option>
                <option value="05">מאי</option>
                <option value="06">יוני</option>
                <option value="07">יולי</option>
                <option value="08">אוגוסט</option>
                <option value="09">ספטמבר</option>
                <option value="10">אוקטובר</option>
                <option value="11">נובמבר</option>
                <option value="12">דצמבר</option>
            </select>
            <label>
                שנה
            </label>
            <input type="text" min="2009" max="2022" numeric="" ng-model="$parent.fromYearType"
                   ng-change="typing()">
            <label class="until">
                עד
            </label>
            <label>
                חודש
            </label>
            <select name="month_nav" data-ng-model="$parent.toMonthType" ng-change="typing()">
                <option value="01">ינואר</option>
                <option value="02">פברואר</option>
                <option value="03">מרץ</option>
                <option value="04">אפריל</option>
                <option value="05">מאי</option>
                <option value="06">יוני</option>
                <option value="07">יולי</option>
                <option value="08">אוגוסט</option>
                <option value="09">ספטמבר</option>
                <option value="10">אוקטובר</option>
                <option value="11">נובמבר</option>
                <option value="12">דצמבר</option>
            </select>
            <label>
                שנה
            </label>
            <input type="text" min="2009" max="2022" numeric="" ng-model="$parent.toYearType"
                   ng-change="typing()">
        </div>

        <ul class="exports tableExports" ng-show="appData.arrTypingSmall && appData.arrTypingSmall.length > 0">
            <li class="excel" exports-excel-typereport="" tooltips-tazrim title="ייצוא לExcel">
                <i></i>
            </li>
            <li class="mail" ng-click="sendMailerTypereport()" tooltips-tazrim title="שליחה במייל">
                <i></i>
            </li>
            <li class="print" exports-print-typereport="" tooltips-tazrim title="הדפסה">
                <i></i>
            </li>
        </ul>

        <input type="text" ng-model="searchTyping"
               placeholder="חיפוש"
               class="searchTyping" ng-model-options="{ debounce: {'default': 500 }}"
               data-ng-show="appData.arrTyping.length > 0 || searchTyping.length > 0"/>
    </div>
    <div class="typingReportTable" ng-show="appData.itemsAllReport.length > 0">
        <div ng-if="!loadertyping" class="loader_table">
            <img src="image/loader.gif" alt="Loading...">
        </div>
        <table>
            <thead>
            <tr>
                <th ng-repeat="a in monthTitle" ng-click="sort_by3('name' + $index)" ng-style="{'width': widthTd + '%'}">
                    {{accoConversions.getDayMonthGraph(a['name' + $index])}}
                    <i class="glyphicon glyphicon-sort" ng-show="!searchTyping"></i>
                </th>
            </tr>
            </thead>
            <tbody scroll-fill="250">
            <div class="titleNotFilter" ng-show="appData.itemsAllReport.length == 0">
                לא נמצאה התאמה
            </div>
            <tr ng-if="!searchTyping"
                ng-repeat="a in appData.itemsAllReport = (appData.arrTypingSmall) | startFrom:($parent.currentPage-1)*$parent.entryLimit | limitTo:$parent.entryLimit | orderBy : $parent.predicate3 :$parent.reverse3"
                ng-class-even="'even'">
                <td ng-repeat="v in a" ng-if="$index == 0" ng-style="{'width': widthTd + '%'}">
                    {{a['name' + $index]}}
                </td>
                <td ng-repeat="v in a" ng-if="$index !== 0" ng-style="{'width': widthTd + '%'}">
                    {{roundNum(a['name' + $index])}}
                </td>
            </tr>
            <tr ng-if="searchTyping"
                ng-repeat="a in appData.itemsAllReport = (appData.arrTyping | filter:searchTyping) | startFrom:($parent.currentPage-1)*$parent.entryLimit | limitTo:$parent.entryLimit"
                ng-class="{'prevColor': a.prev}">
                <td ng-repeat="v in a" ng-if="$index == 0" style="width: {{widthTd}}%">
                    {{a['name' + $index]}}
                </td>
                <td ng-repeat="v in a" ng-if="$index !== 0" style="width: {{widthTd}}%">
                    {{roundNum(a['name' + $index])}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="rowsSort typingPage" data-ng-show="appData.arrTyping.length > 0 && appData.itemsAllReport.length > 0">
        <div class="selectRows">
            הצג
            <select ng-model="$parent.entryLimit" class="form-control" ng-change="entryLimitChange()">
                <option>20</option>
                <option>50</option>
                <option>100</option>
                <option>150</option>
            </select>
            שורות
        </div>
        <div class="sumRows">
            סה״כ שורות שנמצאו
            {{appData.itemsAllReport.length}}
            מתוך
            {{appData.arrTyping.length}}
        </div>
        <div class="pagRows" ng-show="appData.itemsAllReport.length > 0 && appData.itemsAllReport.length > $parent.entryLimit">
            <pagination max-size="$parent.maxSize" boundary-links="true" on-select-page="setPage(page)"
                        items-per-page="$parent.entryLimit" total-items="appData.itemsAllReport.length" ng-model="$parent.currentPage"
                        class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="עמ׳ ראשון"
                        last-text="עמ׳ אחרון"></pagination>
        </div>
    </div>
</div>
