<div data-ng-controller="updateAccountPasswordPopupCtrl" ng-init="init()">
    <div class="popup-header">
        <h2>
            עדכון
            <span ng-if="checkMarkod()">
                סיסמה
            </span>
            <span ng-if="!checkMarkod()">
              {{accoConversions.getBankNameDiscode(appData.numberOfBank)}}
            </span>
        </h2>
    </div>
    <div class="popup-content">
        <h4>
            אין אפשרות למשוך את הנתונים מחשבון זה,
            יש להזין את
<span ng-if="checkMarkod()">
הסיסמה:
        </span><span ng-if="!checkMarkod()">
ה{{accoConversions.getBankNameDiscode(appData.numberOfBank)}}:
        </span>
        </h4>
        <div class="update_bank">
            <form autocomplete="off" name="formUpdatePassPop">
                <fieldset>
                    <div class="titleBankUpdate">
                        <i class="bank{{appData.numberOfBank}}"></i>
                        &nbsp;
                        {{accoConversions.getBankName(appData.numberOfBank)}}
                    </div>
                    <div class="inputs">
                        <label>
                           <span ng-if="checkMarkod()">
                סיסמה
                           </span>
                           <span ng-if="!checkMarkod()">
                               {{accoConversions.getBankNameDiscode(appData.numberOfBank)}}
                           </span>
                        </label>
                        <div class="input">
                            <input id="pass1__" name="pass1__" style="display: none;" value="" type="{{(showPassword)?'text':'password'}}" autocomplete="off">
                            <input type="{{(showPassword)?'text':'password'}}"
                                   readonly
                                   ng-style="{ 'border-color' : (appData.errorProgressBank) ? '#ec3c66' : '#e7e9eb' }"
                                   ng-blur="blurInput=true;"
                                   ng-focus="blurInput=false;"
                                   onfocus="this.removeAttribute('readonly');"
                                   autocomplete="off" ng-model="password" only-not-hebrew name="pass1"/>
                        </div>
                    </div>
                    <div ng-show="checkMarkod()" class="inputs">
                        <label>
                            וידוא סיסמה
                        </label>
                        <div class="input">
                            <input id="pass2__" name="pass2__" style="display: none;" value="" type="{{(showPassword)?'text':'password'}}" autocomplete="off">
                            <input type="{{(showPassword)?'text':'password'}}" autocomplete="off"
                                   readonly
                                   ng-style="{ 'border-color' : (appData.errorProgressBank) ? '#ec3c66' : '#e7e9eb' }"
                                   ng-paste="$event.preventDefault()"
                                   ng-blur="blurInput=true;"
                                   ng-focus="blurInput=false;"
                                   onfocus="this.removeAttribute('readonly');"
                                   ng-model="passRepeat" only-not-hebrew name="pass2"/>
                        </div>
                    </div>
                    <div class="form-control" ng-show="checkMarkod()">
                        <input type="checkbox" data-ng-model="showPassword" id="show_pass">
                        <label for="show_pass">
                            הצג סיסמא
                        </label>
                    </div>
                </fieldset>
                <div class="error_alerts_bank" ng-if="formUpdatePassPop.pass1.$error.onlyNotHebrew||formUpdatePassPop.pass2.$error.onlyNotHebrew">
                    על השדה להכיל אותיות בלועזית בלבד
                </div>
                <div class="error_alerts_bank" ng-if="(!formUpdatePassPop.pass1.$error.onlyNotHebrew && !formUpdatePassPop.pass2.$error.onlyNotHebrew) && appData.errorProgressBank && passwordsMatchAlert()">
                    {{appData.errorProgressBank}}
                </div>
                <div class="error_alerts_bank" ng-if="blurInput && (!formUpdatePassPop.pass1.$error.onlyNotHebrew && !formUpdatePassPop.pass2.$error.onlyNotHebrew) && !appData.errorProgressBank && !passwordsMatchAlert()">
                    הסיסמאות אינן תואמות
                </div>
                <div class="btnUpdates">
                    <button ng-click="changeAccountPassword()" ng-disabled="!passwordsMatch()">
                        שמור סיסמה
                    </button>
                    <button ng-click="hidePopup()">
                        ביטול
                    </button>
                </div>
            </form>
            <div style="margin-top: 5px; text-align: center;">
                <span style="    color: #1387a9;
    font: 17px/22px 'esterregular', Arial;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;"
                     ng-click="accountUpdatePopup()">
                    עבור לעדכון פרטים מורחב
                </span>
            </div>
        </div>
    </div>
    <div class="wrapProgress" ng-if="appData.progressBankData">
        <i></i>
        <h2 ng-if="!appData.showSucUpdPass">
            מאמת נתונים, אנא המתן/י
        </h2>
        <h2 ng-if="appData.showSucUpdPass">
            ההתחברות הצליחה
        </h2>
        <div class="meter" ng-if="!appData.showSucUpdPass">
            <span></span>
        </div>
    </div>
</div>


