<div ng-controller="settingsCtrl">
    <div class="popup-header">
        <h2>
הוספת העברה בנקאית
        </h2>
    </div>
    <div class="popup-content">
        <form name="detailsPaymentFormPopCheck" class="css-form" novalidate
              ng-submit="billing_account_set_directdeb(appData.billingAccountTranferNow, detailsPaymentFormPopCheck)"
              autocomplete="off">
            <div class="wrapInputForm">
                <div class="inputForm"
                     data-ng-class="{'errorInput': (detailsPaymentFormPopCheck.$submitted || detailsPaymentFormPopCheck.uNumberCheck.$touched) && detailsPaymentFormPopCheck.uNumberCheck.$invalid, 'sucInput': (detailsPaymentFormPopCheck.$submitted || detailsPaymentFormPopCheck.uNumberCheck.$touched) && detailsPaymentFormPopCheck.uNumberCheck.$valid }">
                    <label>
אסמכתא
                    </label>
                    <input id=uNumberCheck__" name="uNumberCheck__" style="display: none;" value="" type="text"
                           autocomplete="off">
                    <input readonly
                           number-only
                           onfocus="this.removeAttribute('readonly');"
                           class="ltrSide"
                           type="text"
                           ng-model="appData.billingAccountTranferNow.customPay_Asmacta"
                           autocomplete="off"
                           name="uNumberCheck"
                           required=""/>
                </div>
                <div ng-show="(detailsPaymentFormPopCheck.$submitted || detailsPaymentFormPopCheck.uNumberCheck.$touched) && detailsPaymentFormPopCheck.uNumberCheck.$invalid"
                     class="alertsMessages">
                    <div ng-show="detailsPaymentFormPopCheck.uNumberCheck.$error.required">
                        מידע זה הינו מידע חובה
                    </div>
                </div>
            </div>
            <div class="wrapInputForm">
                <div class="inputForm"
                     data-ng-class="{'errorInput': (detailsPaymentFormPopCheck.$submitted || detailsPaymentFormPopCheck.uDatePayment.$touched) && detailsPaymentFormPopCheck.uDatePayment.$invalid, 'sucInput': (detailsPaymentFormPopCheck.$submitted || detailsPaymentFormPopCheck.uDatePayment.$touched) && detailsPaymentFormPopCheck.uDatePayment.$valid }">
                    <label>
                        תאריך פרעון
                    </label>
                    <input id="uDatePayment__" name="uDatePayment__" style="display: none;" value="" type="text"
                           autocomplete="off">
                    <input readonly
                           date-picker-set-date-pop
                           onfocus="this.removeAttribute('readonly');"
                           type="text"
                           class="dpInput"
                           ng-model="appData.billingAccountTranferNow.customPay_TranDate"
                           autocomplete="off"
                           name="uDatePayment"
                           required=""/>
                </div>
                <div ng-show="(detailsPaymentFormPopCheck.$submitted || detailsPaymentFormPopCheck.uDatePayment.$touched) && detailsPaymentFormPopCheck.uDatePayment.$invalid"
                     class="alertsMessages">
                    <div ng-show="detailsPaymentFormPopCheck.uDatePayment.$error.required">
                        מידע זה הינו מידע חובה
                    </div>
                </div>
            </div>
            <div class="wrapInputForm">
                <div class="inputForm"
                     data-ng-class="{'errorInput': (detailsPaymentFormPopCheck.$submitted || detailsPaymentFormPopCheck.uSumCheck.$touched) && detailsPaymentFormPopCheck.uSumCheck.$invalid, 'sucInput': (detailsPaymentFormPopCheck.$submitted || detailsPaymentFormPopCheck.uSumCheck.$touched) && detailsPaymentFormPopCheck.uSumCheck.$valid }">
                    <label>
                        סכום
                    </label>
                    <input id="uSumCheck__" name="uSumCheck__" style="display: none;" value="" type="text"
                           autocomplete="off">
                    <input
                           number-only
                           type="text"
                           ng-model="appData.billingAccountTranferNow.customPay_Sum"
                           autocomplete="off"
                           name="uSumCheck"
                           required=""/>
                    <!--<div class="toggleEditCheckSum">-->
                        <!--<div>-->
                            <!--<p>-->
                                <!--עריכה:-->
                            <!--</p>-->
                            <!--<label class="toggle">-->
                                <!--<input type="checkbox" ng-model="editSum">-->
                                <!--<div class="track">-->
                                    <!--<div class="handle"></div>-->
                                <!--</div>-->
                            <!--</label>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
                <div ng-show="(detailsPaymentFormPopCheck.$submitted || detailsPaymentFormPopCheck.uSumCheck.$touched) && detailsPaymentFormPopCheck.uSumCheck.$invalid"
                     class="alertsMessages">
                    <div ng-show="detailsPaymentFormPopCheck.uSumCheck.$error.required">
                        מידע זה הינו מידע חובה
                    </div>
                </div>
            </div>
            <div class="wrapInputForm">
                <div class="inputForm"
                     data-ng-class="{'errorInput': (detailsPaymentFormPopCheck.$submitted || detailsPaymentFormPopCheck.uDateUntil.$touched) && detailsPaymentFormPopCheck.uDateUntil.$invalid, 'sucInput': (detailsPaymentFormPopCheck.$submitted || detailsPaymentFormPopCheck.uDateUntil.$touched) && detailsPaymentFormPopCheck.uDateUntil.$valid }">
                    <label>
                        שולם עד תאריך
                    </label>
                    <input id="uDateUntil__" name="uDateUntil__" style="display: none;" value="" type="text"
                           autocomplete="off">
                    <input readonly
                           class="dpInput"
                           date-picker-set-date-pop-set-month
                           onfocus="this.removeAttribute('readonly');"
                           type="text" ng-model="appData.billingAccountTranferNow.date_payed_until"
                           autocomplete="off"
                           name="uDateUntil"
                           required=""/>
                </div>
                <div ng-show="(detailsPaymentFormPopCheck.$submitted || detailsPaymentFormPopCheck.uDateUntil.$touched) && detailsPaymentFormPopCheck.uDateUntil.$invalid"
                     class="alertsMessages">
                    <div ng-show="detailsPaymentFormPopCheck.uDateUntil.$error.required">
                        מידע זה הינו מידע חובה
                    </div>
                </div>
            </div>
            <div class="wrapInputForm">
                <div class="inputForm">
                    <label style="vertical-align: top;">
                        תיאור
                    </label>
                    <input id="cComments__" name="cComments__" style="display: none;" value="" type="text"
                           autocomplete="off">
                    <textarea readonly
                              onfocus="this.removeAttribute('readonly');"
                              ng-model="appData.billingAccountTranferNow.customPay_Description"
                              name="cComments"
                              autocomplete="off">
                  </textarea>
                </div>
            </div>
            <div class="groupButtonChecks">
                <button type="button" ng-click="hidePopup()">
                    בטל
                </button>
                <button type="submit"
                        ng-disabled="!detailsPaymentFormPopCheck.$valid">
                    המשך לתשלום
                </button>
            </div>
        </form>
    </div>
</div>