<div ng-controller="settingsCtrl">
    <div class="popup-header">
        <h2>
            בחירת משתמש
        </h2>
    </div>
    <div class="popup-content">
        <div ng-show="appData.listUserAccountantsLoader" class="loader_table">
            <img src="image/loader.gif" alt="Loading...">
        </div>
        <div class="searchUserAcc">
            <input type="text" data-ng-model="filterAccUser" ng-model-options="{ debounce: {'default': 500 }}"
                   placeholder="חיפוש">
        </div>

        <form novalidate ng-submit="userCopypriv(true)" name="formAccUsers">
            <div class="formAccUsers regUsers">
                <div class="headerFormUserAcc">
                    <div>
                        &nbsp;
                    </div>
                    <div>
                        שם פרטי
                    </div>
                    <div>
                        שם משפחה
                    </div>
                    <div>
                        שם משתמש
                    </div>
                </div>
                <ul vs-repeat="30">
                    <li ng-repeat="a in appData.companyGetusersSett | filter:filterAccUser">
                        <div>
                            <input type="radio"
                                   ng-model="$parent.appData.changeuserPop.toUserId"
                                   name="uuidAcc"
                                   value="{{a.USER_ID}}"
                                   required/>
                        </div>
                        <div>
                            {{a.FIRST_NAME}}
                        </div>
                        <div>
                            {{a.LAST_NAME}}
                        </div>
                        <div>
                            {{a.USER_NAME}}
                        </div>
                    </li>
                </ul>
            </div>
            <div class="buttonGr">
                <button type="submit" ng-disabled="formAccUsers.$invalid">
                    אישור
                </button>
                <button ng-click="hidePopup()" type="button">
                    ביטול
                </button>
            </div>

        </form>
    </div>
</div>

