<div ng-controller="mainAccountantsCardsCtrl">
    <div class="popup-header">
        <h2>
            הערות פנימיות לבדיקה
        </h2>
    </div>
    <div class="popup-content">
        <div class="tables">

            <table>
                <tr>
                    <th>תאריך</th>
                    <th>הערה</th>
                </tr>
                <tr>
                    <td>
                        {{appData.editAlertsHash.acc.explain_date}}
                    </td>
                    <td>
                        <input type="text" data-ng-model="appData.editAlertsHash.acc.explain_desc"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button  data-ng-click="sendApprHash()">
                            אשר
                        </button>
                       <span data-ng-click="sendCheckHash()">
                  שלח לבדיקה
              </span>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>

