<header ng-controller="mainCtrl">
    <div class="top_header"
         ng-class="{'headerBgRh':$parent.appData.defMonth.ind_accountants == 1 && $state.includes('mainAccountants')}">
        <div class="clsAlign">
            <div class="logo"
                 ng-class="{'logoRh':$parent.appData.defMonth.ind_accountants == 1, 'logoRhAcc':$parent.appData.defMonth.ind_accountants == 1 && !$state.includes('mainAccountants')}">
                    <span>
                רואי חשבון
                    </span>
            </div>
            <div class="search_nav"
                 data-ng-class="{'selectAccWh': $parent.appData.defMonth.ind_accountants == 1, 'active': showList}">
                <div class="company-selector-cnt" company-selector companies="$parent.appData.companies"
                     selected-index="$parent.appData.selectedCompanyIndex"
                     on-select="$parent.selectCompany(company)">
                    <div>
                        <input ng-model="companySearch" type="text"
                               placeholder="{{$parent.appData.placeholderNameCompanies}}">
                        <i class="fa fa-times-circle removeCompany" ng-click="$parent.$parent.removeCompany()"
                           ng-if="$parent.appData.defMonth.ind_accountants == 1 && !$parent.$state.includes('mainAccountants')"></i>
                        <i class="fa fa-times-circle removeCompany" ng-click="companySearch='';$parent.$parent.removeCompanyRegular()"
                           ng-show="$parent.appData.defMonth.ind_accountants !== 1"></i>
                        <!--<img src="image/remove_alerts.png" class="removeCompany"-->
                        <!--ng-click="$parent.$parent.removeCompany()"-->
                        <!--ng-if="$parent.appData.defMonth.ind_accountants == 1 && !$parent.$state.includes('mainAccountants')">-->
                        <img data-ng-show="$parent.appData.defMonth.ind_accountants == 0 || ($parent.appData.defMonth.ind_accountants == 1 && !$parent.$state.includes('mainAccountants'))"
                             class="open-search" src="image/arrow_s.png" ng-click="showList = !showList">
                        <img data-ng-show="$parent.appData.defMonth.ind_accountants == 1 && $parent.$state.includes('mainAccountants')"
                             class="open-search" src="image/arrowWhite.png" ng-click="showList = !showList">
                    </div>

                    <div class="company-list-cnt" ng-class="{'showListCompany': showList}"
                         ng-if="$parent.appData.companies.length > 500">
                        <ul ng-class="{'hAutoAddButton': $parent.appData.defMonth.ind_accountants == 1}"
                            vs-repeat="{{$parent.appData.heightCompRow}}">
                            <li ng-repeat="c in (filteredItems = ($parent.appData.companies | companyFilter:companySearch))"
                                ng-click="selectCompany(c)" tabindex="{{$index}}">
                                <div class="avatar" ng-if="$parent.appData.defMonth.ind_accountants == 0">
                                    <img src="image/customer_icon.png" alt="{{c.companyName}}">
                                </div>
                                <div class="content_company">
                                    <strong>{{c.companyName}}</strong>
                                    <span ng-if="$parent.appData.defMonth.ind_accountants == 0">{{c.full_name}} -</span>
                                    <span ng-if="$parent.appData.defMonth.ind_accountants == 0">{{c.companyHp}}</span>
                                </div>
                            </li>
                        </ul>
                        <button ng-if="$parent.appData.defMonth.ind_accountants == 1" class="add_company_butt"
                                ng-click="$parent.addCompanyOpen()">
                            הוספת חברה חדשה +
                        </button>
                    </div>

                    <div class="company-list-cnt" ng-class="{'showListCompany': showList}"
                         ng-if="$parent.appData.companies.length < 500">
                        <ul ng-class="{'hAutoAddButton': $parent.appData.defMonth.ind_accountants == 1}">
                            <li ng-repeat="c in (filteredItems = ($parent.appData.companies | companyFilter:companySearch))"
                                ng-click="selectCompany(c)" tabindex="{{$index}}">
                                <div class="avatar" ng-if="$parent.appData.defMonth.ind_accountants == 0">
                                    <img src="image/customer_icon.png" alt="{{c.companyName}}">
                                </div>
                                <div class="content_company">
                                    <strong>{{c.companyName}}</strong>
                                    <span ng-if="$parent.appData.defMonth.ind_accountants == 0">{{c.full_name}} -</span>
                                    <span ng-if="$parent.appData.defMonth.ind_accountants == 0">{{c.companyHp}}</span>
                                </div>
                            </li>
                        </ul>
                        <button ng-if="$parent.appData.defMonth.ind_accountants == 1" class="add_company_butt"
                                ng-click="closeList();$parent.addCompanyOpen(); ">
                            הוספת חברה חדשה +
                        </button>
                    </div>

                </div>
                <div class="helpSkiraAccTitle" ng-if="$parent.appData.showhelpSkira">
                    <i class="fi-arrow-up"></i>
                    הנתונים המוצגים יהיו רלוונטיים לחברה הבחורה בלבד
                    חזרה למסך הראשי - בלחיצה על ה- X
                </div>
            </div>
            <div class="dataBanksAll" ng-init="ind = 0"
                 ng-if="appData.usersBanksProgress.length > 0"
                 ng-class="{'helpViewIndZ': appData.helpSignUp == true}">
                <div class="navBank rightSid" data-ng-click="ind = ind - 1" ng-show="ind !== 0"></div>
                <ul>
                    <li>
                        <p>{{appData.usersBanksProgress[ind].text_value}} מ</p>

                        <h3>{{appData.usersBanksProgress[ind].bank_name}}</h3>

                        <div class="meter">
                            <span></span>
                        </div>
                    </li>
                </ul>
                <div class="navBank leftSid" data-ng-click="ind = ind + 1"
                     ng-show="appData.usersBanksProgress.length - 1 !== ind"></div>
            </div>
            <div ng-if="appData.adminSoft" class="buttonChangeUsers">
                <button ng-click="getRegularUsers()" class="btnRtlChangeRoh">
                    <span ng-if="appData.userAccNameUsers">
                {{appData.userAccNameUsers}} -
            </span>
                    בחירת משתמש
                </button>
                <button ng-click="userGetAccountants()">
                    <span ng-if="appData.userAccName">
                {{appData.userAccName}} -
            </span>
                    החלף רואה חשבון
                </button>
            </div>
            <div class="nav_left">
                <div ng-if="appData.adminSoft && (appData.userAccName || appData.userAccNameUsers)" class="userAccNameUsers">
                    {{appData.userAccName}}
                    {{appData.userAccNameUsers}}
                </div>
                <div class="notification messPassAndMatch"
                     ng-if="appData.defMonth.ind_accountants == 0 || (appData.defMonth.ind_accountants == 1 && !$state.includes('mainAccountants')) || appData.adminSoft"
                     ng-class="{'active': openMessMatchPass}">
                    <div ng-if="appData.messMatchPass.result == 1" class="tooltipMessMatchPass">
                        <div class="wrapTooltipMessMatchPass">
                            <img src="image/notebookIcon.png">
                            <div>
                                <span ng-if="$parent.appData.sumMessMatchPass == 1">
קיימת
                               <b>
                                   משימה
                               </b>
                                </span>
                                <span ng-if="$parent.appData.sumMessMatchPass > 1">
                                    קיימות
<b>{{$parent.appData.sumMessMatchPass}}
    משימות
</b>
                                </span>

                                עבורך במערכת.
                                <br>
                                אנא השלם משימות אלה על מנת שנוכל להציג לך נתוני אמת בתזרים שלך.
                                <div>
                                    <button ng-click="ind_task_read()">
                                        הבנתי, תודה!
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="notIconMessPass"
                         ng-click="$parent.appData.openMessMatchPass = !$parent.appData.openMessMatchPass; clickGa('פתיחת תפריט משימות')">
                        <i ng-if="$parent.appData.sumMessMatchPass !== 0">{{$parent.appData.sumMessMatchPass}}</i>
                    </div>
                    <div ng-if="$parent.appData.openMessMatchPass" class="messagesWrap">
                        <div class="headMess">
                            <div>משימות</div>
                        </div>
                        <div class="wrapMessAuto">
                            <h4 ng-if="appData.messMatchPass.wp.length == 0 && appData.messMatchPass.nigrarot.length == 0">
                                אין הודעות
                            </h4>
                            <ul ng-if="appData.messMatchPass.wp.length || appData.messMatchPass.nigrarot.length"
                                class="listMessMatchPass">
                                <li ng-if="appData.messMatchPass.nigrarot.length">
                                    <div class="icon-mess type2"></div>
                                    <div class="mess passMatch" ng-if="appData.messMatchPass.nigrarot.length == 1">
                                        קיימת
                                        <b>
                                            פעולה
                                        </b>

                                        להתאמה בתזרים

                                        <span class="linkBlue"
                                              ng-click="clickGa('לינק מהודעות להתאמת פעולות');$parent.appData.openMessMatchPass=false;openListMatchMess(true);">                                                התאם פעולה
                                            </span>
                                    </div>
                                    <div class="mess passMatch" ng-if="appData.messMatchPass.nigrarot.length > 1">
                                        קיימות
                                        <b>
                                            {{appData.messMatchPass.nigrarot.length}}
                                            פעולות
                                        </b>
                                        להתאמה בתזרים

                                        <span class="linkBlue"
                                              ng-click="clickGa('לינק מהודעות להתאמת פעולות');$parent.appData.openMessMatchPass=false;openListMatchMess(true);">
                                                התאם פעולות
                                            </span>
                                    </div>
                                </li>
                                <li ng-repeat="a in appData.messMatchPass.wp" ng-if="appData.messMatchPass.wp.length">
                                    <div class="icon-mess type3"></div>
                                    <div class="mess passMatch">
                                        קיימת
                                        {{a.status_desc}}
                                        ל<b>{{a.token_name}}</b>
                                        <span class="linkBlue"
                                              ng-click="$parent.appData.openMessMatchPass=false;$parent.updateAccountPasswordsLine(a);">
                                            עדכן פרטים
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="notification"
                     ng-if="appData.defMonth.ind_accountants == 0 || (appData.defMonth.ind_accountants == 1 && !$state.includes('mainAccountants')) || (appData.adminSoft)"
                     data-ng-class="{'active': openMess, 'helpViewBg': appData.helpSignUp == true && appData.helpSignUpInd == 4}">
                    <div class="notIcon" data-ng-click="openMess = !openMess;openMessages(openMess)">
                        <i ng-if="$parent.appData.sumMess !== 0">{{$parent.appData.sumMess}}</i>
                    </div>
                    <div ng-if="openMess" class="messagesWrap">
                        <div class="headMess">
                            <div>התראות</div>
                            <div ui-sref="settings.alerts"></div>
                        </div>
                        <div class="wrapMessAuto">
                            <h4 ng-if="appData.messAll.length == 0">
                                אין התראות
                            </h4>
                            <ul ng-if="appData.messAll.length > 0">
                                <li ng-repeat="a in appData.messAll">
                                    <div class="icon-mess type{{a.html_message_type}}">
                                        <i class="fa fa-list-ol" ng-if="a.html_message_type == 6"></i>
                                    </div>
                                    <div class="mess" ng-if="a.html_message_type == 1">
                                        {{a.message_text}}
                                    </div>
                                    <div class="mess" ng-if="a.html_message_type == 2">
                                        לחשבון
                                        <b>{{a.account_nickname}}</b>
                                        קיימות
                                        {{a.count_peulot_today}}
                                        <span data-ng-click="getPeulotToday(a.company_account_id, a.date_value)">
                    פעולות על תנאי מהיום
                </span>,
                                        יתרתך נכון ל
                                        {{a.time_peulot_today}}
                                        לאחר פעולות אלה היא
                                        <i>
                                            ₪ {{getTotal(a.itra_peulot_today)}}
                                        </i>.
                                        <!--<span data-ng-click="spiderBanks(a.company_account_id)">-->
                                        <!--לחץ לעדכון יתרה נוכחית-->
                                        <!--</span>.-->
                                    </div>
                                    <div class="mess" ng-if="a.html_message_type == 3">
                                        הסיסמא
                                        <b>{{a.account_nickname}}</b>
                                        אינה תקינה,
                                        <span data-ng-click="updatePasswordPopUpMess(a.token, a.cheque_no)">
                                            לחץ לעדכון סיסמא
                                        </span>
                                    </div>
                                    <div class="mess" ng-if="a.html_message_type == 4">
                                        נכון לשעה
                                        {{a.time_peulot_today}}
                                        לא נמצאו פעולות על תנאי מהיום לחשבון
                                        <b>{{a.account_nickname}}</b>,
                                        <span data-ng-click="spiderBanks(a.company_account_id)">
                     לחץ לעדכון יתרה נוכחית
                </span>.
                                    </div>
                                    <div class="mess" ng-if="a.html_message_type == 5">
                                        <b>{{a.account_nickname}}</b>
                                        לא עודכן מ
                                        {{a.date_value}},
                                        <span data-ng-click="updatePasswordPopUpMess(a.token, a.cheque_no)">
אנא הזן את ה<i ng-if="a.cheque_no == 158">סיסמה</i><i ng-if="a.cheque_no == 157">סיסמה</i> למערכת</span>
                                    </div>
                                    <div class="mess" ng-if="a.html_message_type == 6">
                                        {{a.message_text}}
                                        <span class="linkRed" ng-click="openLinkTasks(a.account_nickname)">
                                                                                      לחץ לצפייה במשימה
                                      </span>
                                    </div>
                                    <div class="mess"
                                         ng-if="a.html_message_type !== 1 && a.html_message_type !== 2 && a.html_message_type !== 3 && a.html_message_type !== 4 && a.html_message_type !== 5 && a.html_message_type !== 6">
                                        {{a.message_text}}
                                    </div>
                                    <div class="reads"
                                         data-ng-class="{'read': a.ind_read == 1, 'unread': a.ind_read == 0 }"
                                         data-ng-click="readMess(a.message_id)">
                                        <i title="סמן כנקרא" tooltips-mess ng-if="a.ind_read == 0"></i>
                                        <i title="סמן כלא נקרא" tooltips-mess ng-if="a.ind_read == 1"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="gotoAllMess" ui-sref="alerts">
                            לצפייה בכל ההתראות
                        </div>
                    </div>
                </div>
                <div class="notification"
                     ng-if="appData.defMonth.ind_accountants == 1 && $state.includes('mainAccountants') && !appData.adminSoft"
                     data-ng-class="{'active': openMessAcc, 'helpViewBg': appData.helpSignUp == true && appData.helpSignUpInd == 4}">
                    <div class="notIcon" data-ng-click="openMessAcc = !openMessAcc;dataReportComposite(openMessAcc)">
                        <i ng-if="appData.messAccAllMain.length !== 0">{{appData.messAccAllMain.length}}</i>
                    </div>
                    <div ng-if="openMessAcc" class="messagesWrap">
                        <div class="headMess">
                            <div>הודעות</div>
                        </div>
                        <div class="wrapMessAuto accMainMess">
                            <div ng-show="!appData.loaderAccMessAll" class="loader_table">
                                <img src="image/loader.gif" alt="Loading...">
                            </div>
                            <h4 ng-if="appData.messAccAllMain.length == 0">
                                אין הודעות
                            </h4>
                            <ul ng-if="appData.messAccAllMain.length > 0">
                                <li data-ng-repeat="a in appData.messAccAllMain" class="accMess {{a.typeOfActivity}}">
                                    <p class="date">
                                        {{a.date}}
                                    </p>
                                    <strong class="companyName">
                                        {{a.companyName}}
                                    </strong>
                                    <p class="text">
                                        {{a.text}}
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tooltips" data-ng-click="$parent.refresh()">
                    <span>רענון מסך</span>
                </div>
                <strong ng-click="showLogout = !showLogout" data-ng-class="{'active': showLogout}">
                    {{$parent.appData.defMonth.full_name}}
                </strong>
                <ul class="dd_user_log" data-ng-show="showLogout">
                    <li>
                        <a ng-click="showLogout = false" href="https://898.tv/bizibox" target="_blank" title="">
                            הורדת TeamViewer
                        </a>
                    </li>
                    <li>
                        <a target="_self" class="inline_links linkWithIcon" ui-sref="settings.payments"
                           ui-sref-active="actives" ng-click="showLogout = false;">
                            <i class="fa fa-credit-card"></i>
                            <div class="billingDiv">
                                תשלומים לביזיבוקס
                            </div>
                        </a>
                    </li>
                    <li>
                        <a ng-click="$parent.logout()" title="">התנתק</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <audio id="audio" style="display: none">
        <source src="image/multimedia.mp3" type="audio/mpeg">
    </audio>
</header>
