<div>
    <div class="popup-header">
        <h2>
            {{appData.openMoreMangWindows.COMPANY_NAME}}
        </h2>
    </div>
    <div class="popup-content">
        <table style="width:100%">
            <tr>
                <th>טוקן</th>
                <td>{{appData.openMoreMangWindows.TOKEN}}</td>
            </tr>
            <tr>
                <th>מס' בנק</th>
                <td>{{appData.openMoreMangWindows.BANK_ID}}</td>
            </tr>
            <tr>
                <th>סניף</th>
                <td>{{appData.openMoreMangWindows.BANK_SNIF_ID}}</td>
            </tr>
            <tr>
                <th>מס' חשבון</th>
                <td>{{appData.openMoreMangWindows.BANK_ACCOUNT_ID}}</td>
            </tr>
            <tr>
                <th>dataload_id</th>
                <td>{{appData.openMoreMangWindows.DATALOAD_ID}}</td>
            </tr>
            <tr>
                <th>account_id</th>
                <td>{{appData.openMoreMangWindows.COMPANY_ACCOUNT_ID}}</td>
            </tr>
        </table>
    </div>
</div>
