<div>
    <div class="popup-header">
        <h2>
נתונים נוספים
        </h2>
    </div>
    <div class="popup-content">
        <table style="width:100%">
            <tr>
                <th>חשבונות מחוקים</th>
                <td>{{appData.openMoreDataMangWit.ACCOUNTS_TO_IGNORE}}</td>
            </tr>
            <tr>
                <th>ימי הרצה - עו"ש</th>
                <td>{{appData.openMoreDataMangWit.ACCOUNT_LOAD_DAYS}}</td>
            </tr>
            <tr>
                <th>ימי הרצה שיקים</th>
                <td>{{appData.openMoreDataMangWit.CHECKPIC_LOAD_DAYS}}</td>
            </tr>
            <tr>
                <th>חודשים כ.אשראי</th>
                <td>{{appData.openMoreDataMangWit.CCARD_LOAD_MONTHS}}</td>
            </tr>
            <tr>
                <th>נלווים</th>
                <td>{{appData.openMoreDataMangWit.IND_LOAD_NILVIM}}</td>
            </tr>
            <tr>
                <th>מזהה</th>
                <td>{{appData.openMoreDataMangWit.TOKEN}}</td>
            </tr>
            <tr>
                <th>הערות</th>
                <td>{{appData.openMoreDataMangWit.DESCRIPTION}}</td>
            </tr>
        </table>
    </div>
</div>
