<div>
    <div class="popup-header">
        <h2>
            מדיניות פרטיות – פורטל ואפליקציה
        </h2>
    </div>

    <div class="popup-content">
        <div class="contentPop scrollDesign">
            <small>
                תאריך עדכון אחרון 23 באפריל 2017
            </small>
            <h3>
                חברת איי פקט בע"מ (להלן: "החברה" או "אנחנו") מברכת אותך (להלן: "המשתמש" או "אתה") על שימושך באפליקציית ביזיבוקס
                באמצעות מכשיר נייד הנתמך במערכות הפעלה של Apple(iOS)או של אנדרואיד (להלן: "המכשיר הנייד" ו"האפליקציה", בהתאמה) ו/או
                בממשק האינטרנטי שלה בכתובת
                <a href="https://bizibox.biz/" target="_blank">
                    www.bizibox.biz
                </a>
                (להלן: "הפורטל"). החברה מתייחסת בכבוד לפרטיות המשתמשים בפורטל ובאפליקציה. תנאים אלה ילמדו אותך מהי מדיניות הפרטיות
                הנוהגת הן בפורטל והן באפליקציה. הם סוקרים, בין השאר, את האופן שבו משתמשת החברה במידע, הנמסר לה על-ידי המשתמשים או
                נאסף על-ידה בעת השימוש בפורטל ובאפליקציה.
                <br>
                מסמך זה מתאר את מדיניות הפרטיות בפורטל ובאפליקציה של החברה והינו חלק בלתי נפרד מתנאי השימוש בהם.
                <br>
                ביטויים אשר לא הוגדרו במדיניות הפרטיות, תהא להם משמעות זהה למשמעותם בתנאי השימוש באתר ו/או בתנאי השימוש בפורטל
                ובאפליקציה
                [<a href="https://bizibox.biz/about/termsofuse" target="_blank">
                https://bizibox.biz/about/termsofuse
            </a> ], לפי העניין (להלן, ביחד: "תנאי השימוש").

                <br>

                מדיניות הפרטיות מנוסחת בלשון זכר לצרכי נוחות בלבד, והיא מתייחסת, כמובן, גם לנשים.


            </h3>
            <ol>
                <li>
                    <div>
                        <strong>
                            הסכמה
                        </strong>
                    </div>

                    <br>
                    אנא קרא בעיון: מדיניות הפרטיות המפורטת במסמך זה מהווה הסכם משפטי מחייב ואכיף בינך לבין החברה, לפיכך, הנך מתבקש
                    לקרוא את מדיניות הפרטיות בקפידה רבה.
                    <br>

                    בעצם השימוש בפורטל, באפליקציה ובשירותים הניתנים בהם, הינך מצהיר כי קראת והבנת את מדיניות הפרטיות, כי ניתנה לך
                    האפשרות לעיין בהם, וכי הינך מסכים לכל התנאים המפורטים בהם.
                    <br>

                    אם אינך מסכים לאי אילו מהתנאים המפורטים להלן, הנך מחויב, באופן מיידי, להימנע מכניסה ו/או משימוש בפורטל ו/או
                    באפליקציה, בכל אופן.
                </li>
                <li>
                    <div>
                        <strong>
                            קטינים
                        </strong>
                    </div>

                    <br>
                    הפורטל והאפליקציה מיועדים למשתמשים מעל גיל שמונה עשרה (18) ולכן אנו לא אוספים (אין בכוונתנו לאסוף) מידע אישי
                    מקטינים מתחת לגיל זה. אנו שומרים את הזכות לבקש הוכחת גיל בכל שלב.


                </li>
                <li>
                    <div>
                        <strong>
                            איזה מידע אנחנו רשאים לאסוף אודות המשתמשים שלנו?
                        </strong>
                    </div>

                    <br>
                    אנו אוספים שני סוגים של מידע מהמשתמשים בפורטל ובאפליקציה:
                    <br>

                    הסוג הראשון של מידע שהחברה אוספת הנו מידע אנונימי ואינו מזהה (להלן: "מידע לא אישי"). מידע לא אישי הוא כל מידע
                    גלוי אשר זמין לחברה בשעה שהמשתמש משתמש בפורטל ו/או באפליקציה, ואינו מאפשר את זיהויו של אותו משתמש. מידע לא אישי
                    כולל מידע אנונימי, טכני וכן מידע שנאסף אודות התנהגות המשתמשים, ועשוי לכלול, בין היתר, את פעילותו של המשתמש
                    בפורטל ו/או באפליקציה, את זהות מערכת ההפעלה וסוג מערכת הדפדפן של המשתמש, זרם הקשות (click-stream), פעילות המשתמש
                    בפורטל ו/או באפליקציה, דף ההפניה (referral URL), שפת המקלדת, רזולוציית מסך המכשיר ממנו מתבצעת הגישה לפורטל ו/או
                    לאפליקציה וכיו''ב.
                    <br>

                    הסוג השני של מידע שהחברה אוספת הנו מידע אישי מזהה (להלן: "מידע אישי"). המידע האישי מאפשר לחברה לזהות באופן אישי
                    את המשתמש ובדרך כלל נושא אופיפרטי או רגיש.
                    <br>

                    § המשתמשים מספקים באופן אוטומטי את ה- IP addressאו כתובת ה-Macשלהם בהתאם לרשת או למכשיר בהם הם משתמשים. מידע זה
                    נאסף על מנת לשפר את חוויית המשתמשים ולמטרות אבטחה.
                    <br>

                    § בנוסף, אנו אוספים מידע אישי הנמסר על-ידי משתמשים באופן מודע ומרצונם החופשי במהלך השימוש בפורטל ובאפליקציה.
                    למשל, מידע האישי ייאסף מתוך הפרטים שנמסרו במסגרת טופס הרישום לפורטל ו/או לאפליקציה שכתובתו:
                    <a href="https://secure.bizibox.biz/#/signup" target="_blank">
                        https://secure.bizibox.biz/#/signup
                    </a>.
                    <br>

                    המידע להלן נאסף במסגרת הרישום:(א) כתובת דואר-אלקטרוני; (ב) שם מלא; (ג) מספר ח.פ. (במידה ומדובר בעוסק מורשה); (ד)
                    פרטי חשבון בנק ו/או כרטיסי אשראי; (ה) מספר טלפון סלולארי; (ו) שם משתמש וסיסמת כניסה לפורטל ו/או לאפליקציה; (ז)
                    פרטי אמצעי תשלום (המידע נאסף על-ידי ספקי שירותי סליקה כמפורט להלן); ו- (ח) כל הפרמטרים הנדרשים להתחברות לכל
                    מקורות המידע הפיננסי אשר ברשות המשתמש אשר ברצונו לקשר לפורטל ו/או לאפליקציה, לרבות שמות המשתמש והסיסמאות
                    הרלוונטיות לכל אחד ממקורות המידע הפיננסי האמורים.
                    <br>

                    § במסגרת טופס יצירת קשר בפורטל ו/או באפליקציה, משתמשים נדרשים למסור שם מלא, טלפון וכתובת דוא"ל. יתכן כי משתמשים
                    ידרשו בעתיד למסור מידע נוסף.
                    <br>

                    המידע האישי שמסרת לחברה (מלבד נתונים הקשורים להליך עיבוד התשלומים, כפי שמפורט בתנאי השימוש) יישמר במאגר המידע
                    המאובטח של החברה והגישה אליו תהיה מוגבלת בלבד. כמו כן, מידע אודות שימושים ספציפיים שביצעת באמצעות הפורטל ו/או
                    האפליקציה, ייאסף אף הוא באמצעות הפורטל ו/או האפליקציה וייחשב כחלק מה-"מידע האישי" כאמור לעיל.


                    <br>

                    למען הסר ספק, כל מידע לא אישי אשר קשור או מקושר למידע אישי ייחשב למידע אישי, כל עוד זיקה זו מתקיימת.
                    <br>

                    שים לב: אנו לא נאסוף עליך מידע אישי ללא קבלת הסכמתך, אשר ניתנת, בין היתר, במסגרת קבלתך את תנאי השימוש ואת
                    מדיניות הפרטיות ובעצם שימושך בפורטל ו/או באפקליציה.
                    <br>

                    אינך מחויב למסור מידע אישי על-פי חוק. הנך מסכים ומצהיר בזאת שהמידע האישי שהינך מספק לנו נמסר מרצונך החופשי, על
                    מנת שנוכל לספק עבורך את שירותי הפורטל והאפליקציה וכן הינך מסכים כי נשמור את המידע שסיפקת לנו במאגר מידע (אשר
                    יתכן ויירשם בהתאם לדרישות הדין).
                </li>
                <li>
                    <div>
                        <strong>
                            מסירת מידע ואיסוף המידע
                        </strong>
                    </div>

                    <br>
                    המידע האישי שמסרת לחברה מיוזמתך, בשלב הרישום לפורטל ו/או לאפליקציה, ובעת השימוש בפורטל ו/או באפליקציה, ישמר
                    כאמור במאגר המידע של החברה (להלן: "מאגר המידע").
                    <br>

                    בעת מסירת המידע האישי לחברה, עליך להקפיד למסור פרטים נכונים, מלאים ולא שגויים או מסולפים. ככל שיחולו שינויים
                    במידע האישי אותו מסרת בעת הרישום, תתבקש לעדכן את הנתונים בחשבון המשתמש שלך בפורטל ו/או באפליקציה.
                    <br>

                    המידע הסטטיסטי הנאסף בעת השימוש בפורטל ו/או באפליקציה על-ידינו מכיל רק את המידע הנחוץ לנו לצורך מתן השירותים
                    בפורטל ו/או באפליקציה ושיפורם. אנו נעשה במידע זה שימוש בכפוף למדיניות הפרטיות המפורטת להלן ובהתאם להוראות חוק
                    הגנת הפרטיות, התשמ"א–1981 (להלן: "חוק הגנת הפרטיות").
                </li>
                <li>
                    <div>
                        <strong>
                            שימוש במידע
                        </strong>
                    </div>

                    <br>
                    בעת השימוש בפורטל ו/או באפליקציה יכול שיצטבר מידע על נוהגיך, מקום המחשב שבאמצעותו ניגשת לפורטל ו/או לאפליקציה
                    ועוד. החברה רשאית לשמור את המידע במאגריה. השימוש בנתונים אלה ייעשה רק על-פי מדיניות פרטיות זו או על-פי הוראות כל
                    דין - וזאת למטרות המפורטות להלן:
                    <br>

                    (א) אנו נשתמש במידע האישי שמסרת ו/או במידע הסטטיסטי שנאסף אצלנו לצורך אספקת השירותים השונים בפורטל ו/או
                    באפליקציה, ולצורך שינוי ושיפור התכנים, השירותים בהם כך שיתאימו לאופי המשתמשים, לרבות להעדפותיך ממש, כפי שמשתקף
                    מניתוח המידע הסטטיסטי שנאסף בחברה לגבי הרגלי השימוש של המשתמשים בפורטל ו/או באפליקציה.
                    <br>

                    (ב) המידע שנאסוף, לרבות באמצעות השימוש בקבצי 'עוגיות' (ראה בהמשך), עשוי לזהות אותך בכל פעם שתיכנס לפורטל ו/או
                    לאפליקציהממחשבך הקבוע ו/או ממכשירך הנייד, ו/או שתפעיל את האפליקציה באמצעות מחשבך הקבוע ו/או מכשירך הנייד, וכך
                    לייתר את הצורך בהזנת שם המשתמש והסיסמא בכניסותיך החוזרות לפורטל ו/או לאפליקציה.
                    <br>

                    (ג) אנו נשתמש במידע האישי שמסרת על מנת ליצור איתך קשר בעת הצורך, ו/או, במידה ונתת את הסכמתך לכך ע"י סימון Vבתיבה
                    המיועדת לכך, לשלוח אליך מדי פעם פרסומות ו/או הודעות באמצעות דואר אלקטרוני לפי הפרטים שמסרת בעת הרישום, ובהם
                    עדכונים על מבצעים שונים בפורטל ו/או באפליקציה, חידושים בשירותים הניתנים, שוברי הנחה, הודעות ו/או פרסומות שונות,
                    בין מטעם החברה ובין מטעם צדדים שלישיים (להלן: "דברי פרסומת").
                    <br>

                    סימון ה-Vבתיבה המיועדת לכך, כמו גם המשך השימוש שלך בפורטל ו/או באפליקציהוהסכמתך לכללי מדיניות זו מהווים הסכמה
                    לקבלת דברי פרסומת בהתאם להוראות סעיף 30א לחוק התקשורת (בזק ושירותים), התשמ"ב–1982. לתשומת לבך כי, בכפוף להוראות
                    הדין, בכל עת תוכל לבחור לחדול מלקבל הודעות דברי פרסומת כאמור על-ידי מחיקת פרטיך מרשימת הדיוור של הפורטל ו/או
                    האפליקציה. זאת באמצעות משלוח בקשה להסרה מרשימת הדיוור באמצעות הודעת דואר אלקטרוני לחברה בכתובת
                    <a href="mailto:service@bizibox.biz" target="_blank">service@bizibox.biz</a>
                    <br>

                    (ד) אנו נשתמש במידע הסטטיסטי שנאסף ונאגר אצלנו לצרכינו הפנימיים, לרבות על מנת לדאוג לתפעול הפורטל ו/או האפליקציה
                    ופיתוחם, לשיפור המבנה שלהם, השירותים הניתנים בהם וכד'. לשם כך, עשויים אנו להסתייע בצדדים שלישיים לצורך איסוף
                    וניתוח המידע הסטטיסטי והאנונימי כדי ללמוד על הרגלי השימוש שלך ושל יתר משתמשי הפורטל ו/או האפליקציה באופן שלא
                    יזהה אותך ו/או את יתר המשתמשים באופן אישי.
                    <br>

                    (ה) אנו נשתמש במידע שמסרת או במידע שנאסף אצלנו לכל מטרה אחרת בקשר עם אספקת השירותים המוצעים בפורטל ו/או
                    באפליקציה, לרבות כל מטרה המפורטת במדיניות זו ו/או בתנאי השימוש.
                </li>
                <li>
                    <div>
                        <strong>
                            מסירת מידע לצד שלישי
                        </strong>
                    </div>

                    <br>
                    (א) מידע אישי– החברה לא תעביר לצדדים שלישיים את המידע האישי אלא באחד המקרים המפורטים להלן:
                    <br>

                    במידה והחברה ביקשה את רשותך, ואת/ה נתת את הסכמתך המפורשת לכך;
                    <br>

                    במקרה שתפר את תנאי השימוש, או ניסיון לבצע פעולות כאלה במקרים אלה, תהיה החברה רשאית למסור את המידע לפי הנדרש;
                    <br>

                    במידה ויתקבל צו מבית משפט או מכל ערכאה מוסמכת אחרת, המורה לחברה למסור את פרטיך או המידע האישי אודותיך לידי בית
                    המשפט או הערכאה האחרת או לידי צד שלישי כלשהו;
                    <br>

                    במקרה של מחלוקת משפטית בינך לבין החברה שתחייב את חשיפת פרטיך;
                    <br>

                    בכל מקרה שהחברה תסבור, כי מסירת המידע נחוצה כדי למנוע נזק חמור לגופך או לרכושך או לגופו או לרכושו של צד שלישי;
                    <br>

                    החברה תהיה רשאית להעביר את פרטיך והמידע שנאסף בעקבות השימוש שעשית בפורטל ו/או באפליקציה לחברות אחרות הקשורות
                    לחברה, ובלבד שהן תשתמשנה במידע זה רק על-פי הוראות מדיניות פרטיות זו;
                    <br>

                    במקרה שהחברה תתמזג עם גוף אחר או תמזג את פעילותיה עם פעילותו של צד שלישי - היא תהיה זכאית להעביר לתאגיד החדש
                    העתק מן המידע שנאגר אודותיך או כל מידע סטטיסטי שבידיה, ובלבד שתאגיד זה יקבל על עצמו את הוראות מדיניות פרטיות זו.
                    <br>

                    במידה ומסירת המידע האישי הינה לעובדים המוסמכים של החברה ו/או לשלוחים מטעמה ו/או לפועלים מטעמה, והיא במידה הנדרשת
                    והחיונית לצורך אספקת השירותים ותפעול הפורטל ו/או האפליקציה;
                    <br>

                    (ב) מידע סטטיסטי– החברה עשויה להעביר מידע סטטיסטי, בתמורה או שלא בתמורה, לצדדים שלישיים המצויים איתם בקשרים
                    עסקיים או אחרים, לרבות חברות העוסקות בניתוח מידע סטטיסטי אנונימי כאמור לצורך שיפור השירותים המוצעים בפורטל ו/או
                    באפליקציה, לפי שיקול דעתם הבלעדי של החברה.
                </li>
                <li>
                    <div>
                        <strong>
                            "עוגיות" (Cookies) ואחסון מקומי
                        </strong>
                    </div>

                    <br>
                    בשעת השימוש בפורטל ו/או באפליקציה, החברה או צדדים שלישיים עשויים להשתמש בטכנולוגיה אשר מקובלת בתעשייה ומוכרת
                    כ"עוגיות" ו-Flash(או טכנולוגיות דומות), המאחסנת מידע מסוים במכשיר הנייד ו/או במחשב של המשתמש, מאפשרת לחברה
                    להפעיל מאפיינים מסוימים באופן אוטומטי, ומשפרת את חווית השימוש של המשתמש בשירותי החברה. העוגיות נדרשות לצורך
                    תפעולם השוטף והתקין של הפורטל והאפליקציה, ובכלל זה כדי לאסוף נתונים אודות הרגלי השימוש בפורטל ו/או באפליקציה
                    ולזהות דפוסי תעבורת משתמשים, לאימות פרטים, להתאמת הפורטל והאפליקציה להעדפותיך האישיות ולצרכי אבטחת מידע.
                    <br>

                    מרבית דפדפני האינטרנט מאפשרים למשתמשים למחוק עוגיות ממכשיר המשתמש, לחסום קבלה של עוגיות או לקבל התראות לפני
                    אחסונן של עוגיות. עם זאת, יש לשים לב כי אם המשתמש ימחק את העוגיות או לא יאפשר את אחסונן, או אם ישנה את המאפיינים
                    של Flash, החוויה המקוונת של המשתמש דרך הפורטל ו/או האפליקציה תהיה מוגבלת.
                </li>
                <li>
                    <div>
                        <strong>
                            איסוף מידע לצרכים סטטיסטיים
                        </strong>
                    </div>

                    <br>
                    החברה נעזרת בחברות שונות המספקות לה ניתוחים סטטיסטיים אודות השימוש בפורטל ו/או באפליקציה. החברות אוספות ומנתחות
                    מידע על היקף השימוש בפורטל ו/או באפליקציה, תדירות השימוש בהם, מקורות הגישה של המשתמשים אליהם וכיוצא בזה. המידע
                    הנאסף הוא סטטיסטי במהותו, הוא איננו מזהה אותך אישית והוא נועד לצרכי ניתוח, מחקר ובקרה.


                </li>
                <li>
                    <div>
                        <strong>
                            אבטחת מידע
                        </strong>
                    </div>

                    <br>
                    על מנת לשמור על סודיות המידע מפני צד שלישי נוקטת החברה באמצעים שנועדו להבטיח את זיהוי המשתמש ולהגן על מידע
                    שמועבר וזאת באמצעי אבטחת מידע התואמים את הסטנדרטים המקובלים ביחס לכל סוג של אמצעי תקשורת, כגון הצפנה של שדות
                    רגישים ותקני הצפנה מתקדמים מסוג SSL256 ביט. למרות זאת, אין החברה יכולה לבטל כליל סיכון של חדירה למאגרי הנתונים
                    של החברה או לתעבורת הנתונים בין המחשב בו הינך עושה שימוש לבין החברה – ולהיפך. בנוסף, ישנם ערוצי תקשורת בהם אין
                    החברה יכולה להגן ולשמור על אבטחת המידע בעת העברתו אליהם באמצעותם, על ידך. לכן, מוסכם עליך כי החברה לא תהא אחראית
                    לנזק שיגרם לך, אם ייגרם, כתוצאה מכך, לרבות בשל העברת מידע אודותיך או מידע שנמסר על ידך לצד ג' כלשהו, וזאת ככל
                    שהחברה נקטה בצעדים סבירים ומקובלים למניעת פעולות שכאלה. כמו כן, עליך לשמור על שם המשתמש וסיסמת הגישה לפורטל ו/או
                    לאפליקציה, ולהימנע מלחשוף אותם לכל אדם אחר וכדאי שתתמיד להחליף את הסיסמא שלך מידי כמה חודשים.


                </li>
                <li>
                    <div>
                        <strong>
                            זכות עיון במידע
                        </strong>
                    </div>

                    <br>
                    על-פי חוק הגנת הפרטיות, כל אדם זכאי לעיין בעצמו, או על-ידי בא-כוחו שהרשהו בכתב או על-ידי אפוטרופוסו, במידע שעליו
                    המוחזק במאגר מידע. אדם שעיין במידע שעליו ומצא כי אינו נכון, שלם, ברור או מעודכן, רשאי לפנות לבעל מאגר המידע
                    בבקשה לתקן את המידע או למוחקו. אם בעל המאגר סירב למלא בקשה זו, עליו להודיע על כך למבקש באופן ובדרך שנקבעו
                    בתקנות. על סירובו של בעל מאגר מידע לאפשר עיון ועל הודעת סירוב לתקן או למחוק מידע, רשאי מבקש המידע לערער לפני בית
                    משפט השלום באופן ובדרך שנקבעו בתקנות.
                    <br>

                    בנוסף, אם המידע שבמאגרי החברה משמש לצורך פניה אישית אליך, בהתבסס על השתייכותך לקבוצת אוכלוסין, שנקבעה על-פי
                    איפיון אחד או יותר של בני אדם ששמותיהם כלולים במאגר (להלן: "פניה בהצעה מסחרית"), כי אז אתה זכאי על-פי חוק הגנת
                    הפרטיות, לדרוש בכתב שהמידע המתייחס אליך יימחק ממאגר המידע. החברה תימחק במקרה זה מידע הדרוש לה רק כדי לפנות אליך
                    בהצעות מסחריות כאמור לעיל. מידע הדרוש להחברה לשם ניהול עסקיה - לרבות תיעוד פעולות מסחריות ואחרות שביצעת בפורטל
                    ו/או באפליקציה - יוסיף להישמר בהחברה על-פי דין, אך לא ישמש עוד לצורך פניות אליך. אם בתוך 30 יום לא תקבל הודעה כי
                    המידע שנתבקשה החברה למחוק אכן נמחק על-פי סעיף זה, תהיה זכאי לפנות לבית משפט השלום באופן הקבוע בתקנות שמכוח החוק,
                    כדי שיורה להחברה לפעול כאמור.
                </li>
                <li>
                    <div>
                        <strong>
                            "הודעות Push"
                        </strong>
                    </div>

                    <br>
                    החברה מיישמת באפליקציה שירות הודעות בדחיפה (להלן: "הודעות ה-Push") המאפשרת לשלוח התראות וצלילים כאשר הן אינן
                    פועלות באותו רגע, דרך שרתי מערכת ההפעלה של המכשיר עליו מותקנת האפליקציה, iOSאו אנדרואיד, לפי העניין). במסגרת
                    השימוש באפליקציה, תישלחנה, מעת לעת, למכשיר הנייד שברשותך (שעל גביו מותקנות האפליקציה ובו ביקשת לקבל את
                    השירותים), הודעות Pushבאמצעותן תוכל להתעדכן אודות מוצרים ושירותים נוספים שהחברה סבורה כי אתה עשוי למצוא בהם
                    עניין, וכן לקבל מידע נוסף אודות החברה והאפליקציה. הודעות ה-Pushתישלחנה בזמנים ובתדירות כפי שייקבע על-ידי החברה.
                    הינך מצהיר כי ידוע לך שהודעות ה-Pushעשויות לכלול מסרים שעשויים להיחשב כ-"דבר פרסומת" כהגדרתו בסעיף 30א לחוק
                    התקשורת (בזק ושידורים), התשס"ח–2008, והינך רשאי לבטל או לעדכן את האפשרות לקבל את הודעות ה-Push, כולן או מקצתן,
                    בכל עת, באמצעות שינוי הגדרות האפליקציה במכשיר הנייד שברשותך.


                </li>
                <li>
                    <div>
                        <strong>
                            חוק הספאם
                        </strong>
                    </div>

                    <br>
                    בהתאם להוראות סעיף 30א לחוק התקשורת (בזק ושידורים), התשמ"ב–1982 (להלן: "חוק הספאם"), החברה מתחייבת לא לשלוח אליך
                    כל דבר פרסומת מבלי להשיג את אישורך לכך קודם לכן (להלן: "ספאם"). במידה ונתת את הסכמתך לכך על-ידי סימון Vבתיבה
                    המיועדת לכך במסגרת ההרשמה לשימוש בפורטל ו/או באפליקציה, אנו נשלח אליך דברי פרסומת (כהגדרתם בחוק הספאם) בדואר
                    אלקטרוני ו/או לכתובת מגורייך ו/או לטלפון הנייד שלך. מרגע בו הסכמה זו ניתנת, כל חומר שנשלח אליך מטעם החברה לא
                    יחשב כספאם מכל סוג ומין אשר מהווה או יש בו כדי להוות הפרה של חוק הספאם. בכל רגע נתון, תוכל לבטל את הסכמתך זו
                    ו/או לעדכן את החברה בדבר רצונך לקבל רק סוגים ספציפיים של מידע על-ידי יידוע החברה על סירובך לקבל מידע מהחברה
                    בעתיד, על-ידי שליחת דואר אלקטרוני לכתובת <a href="mailto:service@bizibox.biz" target="_blank">service@bizibox.biz</a> ו/או באותה דרך שהפרסום האמור נשלח אליך.


                </li>
                <li>
                    <div>
                        <strong>
                            שירותי צדדים שלישיים
                        </strong>
                    </div>

                    <br>
                    אנו רשאים להשתמש בתוכנהאו בשירותי צד שלישי על מנת לאסוף, לאחסן ו/או לעבד את המידע שנאסף במסגרת הפורטל ו/או
                    האפליקציה. אנו עושים מאמציםעל מנת להתקשר עםצדדים שלישיים המפרסמים מדיניות פרטיות החלה על איסוף, אחסון, עיבוד
                    ושימוש במידע אישי ובמידע לא אישי. שירותי צדדים שלישיים כוללים, בין היתר, את ZohoCRM, אשר מדיניות הפרטיות שלה
                    מפורסמת בכתובת:
                    <a href="https://www.zoho.com/privacy.html" target="_blank">
                        https://www.zoho.com/privacy.html
                    </a>.
                    <br>
                    Google Analytics

                    אשר מדיניות הפרטיות שלה מפורסמת
                    בכתובות:
                    <a href="https://www.google.com/policies/privacy" target="_blank">
                        https://www.google.com/policies/privacy
                    </a>
                    <br>
                    Walkme, אשר מדיניות הפרטיות שלה מפורסמת
                    בכתובת:
                    <a href="https://www.walkme.com/privacy-policy" target="_blank">
                        https://www.walkme.com/privacy-policy
                    </a>
                    <br>
                    וחברת קארדקום בע"מ, אשר פרטים בנוגע למדיניות הפרטיות שלה ניתן
                    למצוא בכתובות:
                    <a href="http://www.cardcom.co.il/MainPage.aspx" target="_blank">
                        http://www.cardcom.co.il/MainPage.aspx
                    </a>
                    . יחד עם זאת, לחברה אין כל שליטה על צדדים שלישיים אלה. אנו
                    ממליצים לך לקרוא את תנאי השימוש ומדיניות הפרטיות של צדדים שלישיים אלה ו/או לפנות אליהם במישרין על מנת שתוכל לדעת
                    אילו סוגי מידע נאספים לגביך.


                </li>
                <li>
                    <div>
                        <strong>
                            שינויים במדיניות הפרטיות
                        </strong>
                    </div>

                    <br>
                    החברה שומרת על זכותה לשנות מדיניות פרטיות זו בכל זמן, ומבקשת מכלל המשתמשים לשוב ולבקר בדף זה לעיתים קרובות ככל האפשר. אנו נודיע למשתמש על כל שינוי מהותי בתנאי מדיניות פרטיות זו, על-ידי החלפת הקישור ל"מדיניות הפרטיות" בעמוד הבית של הפורטל בקישור ששמו "תנאי השימוש מעודכנים ליום ____".שינויים שאינם מהותיים יכנסו לתוקף תוך שבעה (7) ימים ממועד ההודעה כאמור. כל שאר השינויים במדיניות הפרטיות ייכנסו לתוקף באופן מיידי והמשך השימוש שלך בפורטל לאחר תאריך העדכון האחרון יהווה הסכמה שלך לכך שהשינויים יחייבו אותך. המשך השימוש שלך בפורטל, באפליקציה ובשירותים יעידו על הסכמתך לכללי המדיניות החדשים.


                </li>
                <li>
                    <div>
                        <strong>
                            שאלות
                        </strong>
                    </div>

                    <br>
                    במידה ויש לך שאלות נוספות או הערות בנוגע לתנאים, הינך מוזמן לפנות אלינו באמצעות דואר אלקטרוני בכתובת: <a href="mailto:service@bizibox.biz" target="_blank">service@bizibox.biz</a>.אנו נעשה את מירב המאמצים לחזור אליך תוך זמן סביר.
                </li>

            </ol>
        </div>

    </div>
</div>
