<div>
    <div class="popup-header">
        <h2>
            תנאי שימוש – פורטל ואפליקציה
        </h2>
    </div>

    <div class="popup-content">
        <div class="contentPop scrollDesign">
            <small>
                תאריך עדכון אחרון 1 במאי 2017
            </small>
            <h3>
                חברת איי פקט בע"מ("אנחנו" או "החברה") מברכת אותך ("המשתמש" או "אתה") על השימוש באפליקציית ביזיבוקס
                ("האפליקציה")
                ו/או בממשק האינטרנטי שלה בפורטל האינטרנט
                <a href="https://bizibox.biz/" target="_blank">
                    www.bizibox.biz
                </a>
                ("הפורטל"), אשר מתבססים על התוכנה של החברה בתחום הניהול, הבקרה והתכנון הפיננסי עסקי, המאפשרת ניהול מידע
                פיננסי,
                באופן העשוי לייעל ולתרום להתנהלות המשתמש ("השירותים"). תנאי השימוש אשר המפורטים להלן ("תנאי שימוש") חלים על
                השימוש
                שלך בפורטל, באפליקציה ובשירותים של החברה (אשר יסופקו לך באמצעות הפורטל ו/או האפליקציה). כל משתמש בפורטל
                ובאפליקציה
                רשאי להשתמש בפורטל ובאפליקציה בהתאם לתנאים ולהוראות המצוינים במסמך זה.

                <br>
                מדיניות הפרטיות מנוסחת בלשון זכר לצרכי נוחות בלבד, והיא מתייחסת, כמובן, גם לנשים.

            </h3>
            <ol>
                <li>
                    <div>
                        <strong>
                            הסכמה לתנאי השימוש
                        </strong>
                    </div>

                    <br>
                    אנא קרא בעיון:בעצם הכניסה לפורטל והשימוש בו ו/או התקנת האפליקציה ו/או בעצם השימוש באפליקציה ו/או
                    בשירותים ו/או
                    בעצם רישומך ופתיחת החשבון ו/או באמצעות סימון "✓" בתיבה המיועדת לכך בתחתית הסכם רישיון השימוש באפליקציה
                    ("ההסכם"), הינך נותן את הסכמתך ואישורך כי קראת והבנת תנאי שימוש אלה (לרבות התנאים המפורטים במדיניות
                    הפרטיות של
                    הפורטל והאפליקציה המוגדרת בהרחבה בסעיף ‏13להלן), אתה מסכים כי התנאים יחייבו אותך וכי תפעל בהתאם לכל
                    הדינים
                    והתקנות החלים בקשר לשימוש בשירותים ואתה מאשר כי תנאים אלה מהווים הסכם משפטי מחייב וניתן לאכיפה בין החברה
                    לבינך.
                    <br>
                    אם אינך מסכים לאי אילו מתנאי השימוש, הנך מחויב, באופן מיידי, להימנע מכניסה או מהתחברות או משימוש בפורטל
                    ו/או
                    להסיר ולמחוק את האפליקציה מהמכשיר הנייד שלך ואינך רשאי לעשות כל שימוש שהוא באפליקציה ו/או בשירותים, בכל
                    אופן
                    שהוא.
                    <br>
                    שים לב:השימוש בפורטל ובשירותים נועד למשתמשים מעל גיל 18 בלבד. אם אינך מעל גיל 18 - אינך רשאי להשתמש
                    בפורטל
                    ובשירותים.
                </li>
                <li>
                    <div>
                        <strong>
                            הפורטל, האפליקציה והשירותים
                        </strong>
                    </div>

                    <br>
                    פרטים בעניין המידע הנאסף עקב השימוש של משתמשים בפורטל ובאפליקציה מצוי במדיניות הפרטיות של הפורטל
                    והאפליקציה
                    המופיעה בלינק הבא:
                    <a href="http://bizibox.biz/about/privacybizibox" target="_blank">
                        http://bizibox.biz/about/privacybizibox
                    </a>.
                    <br>
                    יתכן כי האפליקציה תהיה זמינה רק למערכות הפעלה מסוימות (למשל iOSואנדרואיד). המשתמש רשאי להוריד ולהשתמש
                    באפליקציה
                    רק במכשיר אשר מותקנת בו גרסה מקורית של מערכת ההפעלה, עליה נועדה האפליקציה לפעול. על מנת לפתוח או להשתמש
                    באפליקציה, או כל חלק הימנה, על המשתמש להשיג את כל התוכנות, האמצעים והציוד הדרושים, על חשבונו ובאחריותו
                    הבלעדית.
                    <br>

                    שים לב: יתכן כי חלק מהשירותים הזמינים בפורטל לא יהיו זמינים באפליקציה או שצורת הופעתם באפליקציה תהיה
                    שונה מהצורה
                    בה הם מופיעים בפורטל.
                    <br>

                    השימוש בשירותים באמצעות הפורטל ו/או האפליקציה כרוך בתשלום דמי שימוש כמפורט בהרחבה בסעיף ‏6להלן. בנוסף,
                    הנך מסכים
                    ומאשר כי אתה עשוי להיות מחויב על-ידי צדדים שלישיים עבור שימוש באינטרנט, חיבור לרשת ושימוש בחבילת Data.
                    <br>

                    החברה שומרת לעצמה את הזכות להוסיף שירותים חדשים לשירותים, להסיר, לתקן ו/או לשנות כל חלק מהם ו/או לבצע
                    בהם
                    עדכונים, תיקונים, פעולות תחזוקה ו/או כל פעולה אחרת, שהחברה, לפי שיקול דעתה הבלעדי, תמצא לנכון לנקוט.
                    השימוש
                    בפורטל ובאפליקציה מתבצע באמצעות תקשורת מאובטחת (SSL), באמצעות הצפנת שדות רגישים ואמצעי הגנה נוספים.
                    <br>

                    מובהר כי איכות מסכי התצוגה (dashboards) של השירותים, אשר תתקבל במסכי הלקוח ובמחשביו, תלויה ברזולוציה של
                    מסכיו
                    ומחשביו, ולחברה אין כל אחריות בעניין זה.
                    <br>

                    עוד מובהר, כי החברה אינה אחראית, במישרין ו/או בעקיפין, למחשבים ו/או לציוד כלשהו של הלקוח בכל צורה ואופן,
                    וכי
                    האחריות המלאה עליהם הינה של הלקוח.
                    <br>

                    שים לב: השירות ו/או תוצריו אינם מהווים ייעוץ למשתמשים, לרבות אך מבלי להגביל את כלליות האמור, ייעוץ
                    משפטי, כספי,
                    פיננסי, חשבונאי, מיסוי ו/או בהשקעות, ואין בשירות ו/או בתוצריו משום הצעה, שידול או ייעוץ לביצוע עסקאות
                    ו/או
                    פעולות כספיות כלשהן, לרבות נטילת אשראי ו/או ביצוע השקעות. מכיוון שמצבו העסקי של כל אדם ו/או תאגיד הוא
                    ייחודי,
                    לפני קבלת החלטה ו/או יישום אסטרטגיה כלשהי, על המשתמשים לשקול קבלת ייעוץ מבעלי המקצוע הרלבנטיים, ובכלל זה
                    מרואה
                    החשבון ו/או מיועצים כלכליים אחרים של המשתמשים, המודעים באופן מלא למכלול נסיבותיו וצרכיו האישיים, וכן
                    לשקול לבחון
                    מקורות מידע נוספים בנוגע למצבו הפיננסי.
                    <br>

                    האחריות בגין כל פעולה ו/או תוצאה עסקית של המשתמשים ו/או בגין קבלת החלטה עסקית של המשתמשים, בין אם הן
                    מתבססות על
                    שימוש בתוכנה ו/או בשירות ובין אם לאו, הינה של המשתמשים באופן מלא ובלעדי, והמשתמשים מוותר בזאת על כל
                    טענה, דרישה
                    ו/או תביעה כנגד החברה ו/או מי מטעמה בקשר לכך. ככל שמידע שנמסר למשתמשים במסגרת השירות מתבסס על ההנחה, כי
                    יתקיימו
                    תנאים מוקדמים מסוימים, הרי שנכונות המידע מותנית בכך שכל אותם תנאים מוקדמים יתקיימו בפועל.
                    <br>

                    המידע והנתונים הנכללים בפורטל, הינם על בסיס המידע שהועבר לחברה על-ידי המשתמשים וממקורות חיצוניים לחברה
                    ואין
                    לחברה כל אחריות לנכונותם, שלמותם ו/או אמיתותם.
                </li>
                <li>
                    <div>
                        <strong>
                            רישום לשירות והחשבון שלך
                        </strong>
                    </div>

                    <br>

                    על מנת להשתמש בשירותים דרך הפורטל ו/או האפליקציה עליך ליצור חשבון משתמש הכולל שם משתמש וסיסמה אישיים
                    ("שם המשתמש
                    והסיסמה"). במסגרת הרישום המקוון/אלקטרוני תתבקש לספק את הפרטים הבאים: (א) שם פרטי, שם משפחה ומספר תעודת
                    זהות, ככל
                    שהינך יחיד; (ב) שם תאגיד ומספר תאגיד, ככל שהינך תאגיד; (ג) כתובת דוא"ל; (ד) מספר טלפון סלולרי; ו- (ה)
                    מספר בנק.
                    <br>

                    פתיחת פרופיל כרוכה בתשלום כמפורט בהרחבה בסעיף ‏6להלן.
                    <br>

                    עליך לספק מידע מלא, מדויק ונכון על מנת ליצור חשבון והנך מסכים בזאת כי לא תציג שלא כהלכה את זהותך או כל
                    פרט אחר
                    בחשבונך.
                    <br>

                    המשתמש רשאי לשנות את שם משתמש וסיסמה בכל עת. המשתמש מתחייב לנקוט בכל האמצעים הנדרשים לשמירת סודיות שם
                    המשתמש
                    והסיסמה ולא לחשוף אותם לצד שלישי כלשהו. כמו כן, מתחייב המשתמש ליידע את החברה באופן מיידי על כל שימוש
                    בלתי מורשה
                    בשירות, לרבות בשם המשתמש והסיסמה, ולשתף פעולה עם החברה, ככל הנדרש, בקשר לטיפול במקרה כאמור. בעקבות
                    השימוש בתוכנה
                    יישמרו נתוני המשתמש (כהגדרתם להלן), בין היתר, באופן מוצפן במכשיריו (לרבות מחשביו, טלפון סלולרי וכיו"ב),
                    ולכן
                    המשתמש מתחייב לנקוט במלוא אמצעי הזהירות כדי להבטיח את מכשיריו, ובכלל זה מפני סכנת גניבה. השימוש בשירות
                    מחייב
                    חיבור רצוף של מכשירי המשתמש לרשת האינטרנט. מובהר, כי שימוש ברשת אינטרנט אלחוטית ציבורית "פתוחה" חושף את
                    המשתמש
                    ו/או את נתוני המשתמש (כהגדרתם להלן) לסיכוני אבטחת מידע ופגיעה בפרטיות, ולכן מומלץ להשתמש בשירות רק
                    באמצעות חיבור
                    מאובטח לרשת האינטרנט.
                    <br>

                    אתה אחראי באופן בלעדי ומלא, לשמור על סודיות הסיסמה, שם המשתמש והחשבון שלך ועל כל פעילות אשר תתבצע תחת
                    הסיסמה שלך
                    או במסגרת החשבון שלך. היה וסברנו, בתום לב, כי הקמת חשבון באמצעות פרטי זיהוי של אדם אחר, הרי שבכך הנך
                    חושף את
                    עצמך לאחריות פלילית ו/או אזרחית.
                    <br>

                    אינך רשאי להעביר או להמחות את זכויותיך או להאציל את חובותיך על-פי החשבון, ללא הסכמה מוקדמת בכתב מהחברה
                    <br>

                    החברה לא תהא אחראית לכל אבדן או נזק שנגרמו כתוצאה מחוסר יכולתך לעמוד בתנאים אלה או משימוש בלתי מורשה
                    בסיסמתך או
                    בחשבונך, או עקב פריצת אבטחה. במקרים האמורים, יתכן כי תחוב בנזקים שנגרמו לחברה או לאחרים.

                </li>
                <li>
                    <div>
                        <strong>
                            נתוני המשתמש
                        </strong>
                    </div>

                    <br>
                    לצורך שימוש בשירות על המשתמש להזין ו/או לאפשר גישה אל כל נתוניו בהתאם לנדרש על-פי ממשקי התוכנה ("נתוני
                    המשתמש").
                    אי העברת ו/או אספקת הגישה למלוא נתוני המשתמש תפגע באיכות וביעילות השירות, שכן השימוש בשירות מתבסס על
                    זמינות,
                    עדכניות, דיוק, נכונות, אמינות ושלמות נתוני המשתמש. החברה אינה אחראית לנתוני המשתמש, כולם או חלקם, ובכלל
                    זה
                    לזמינות, דיוק, נכונות, שלמות ו/או חוקיות נתוני המשתמש ו/או לכל שגיאה ו/או תקלה בנתוני המשתמש (לרבות עקב
                    שינוי
                    ו/או שגיאה ו/או תקלה בתצוגות מסך ו/או בפורטל האינטרנט של נותן שירות, כהגדרתו להלן), ולמשתמש לא תהיה כל
                    דרישה,
                    טענה ו/או תביעה כלפי החברה בקשר לכך. תוצרי השירות מופקים בהסתמך על נתוני המשתמש, כפי שהם (asis), על פי
                    זמינותם(as available), ונכון למועד קבלתם, ואין בהם כדי לרפא כל טעות שנפלה בנתוני המשתמש במקור ו/או להציג
                    נתונים
                    שלא היו זמינים ו/או להתייחס לכל שינוי שחל בנתוני המשתמש לאחר מכן. באחריות המשתמש לעדכן את החברה בנוגע
                    לכל שינוי
                    אשר עלול לפגוע בנגישות של החברה לנתוני המשתמש. משתמש המעוניין שנתוני המשתמש שלו יכללו נתונים המנוהלים או
                    מתוחזקים עבורו על-ידי צד שלישי, שהינו תאגיד הרשום בישראל, המספק שירות למשתמש ("נותן שירות"), יזין את כל
                    ההרשאות
                    של המשתמש (לקריאת נתונים בלבד), הנדרשות להתחברות, ליקוט ויבוא נתוני המשתמש מנותן השירות ("ההרשאות").
                    מובהר, כי
                    קבלת השירות באמצעות חיבור של יותר מחמש (5) הרשאות (בין אם אלו הרשאות של נותן שירות אחד ובין אם אלו
                    הרשאות של
                    מספר נותני שירות) כרוכה בתוספת תשלום, כמפורט במחירון של החברה. המשתמש מצהיר, כי הנו רשאי להשתמש בהרשאות,
                    ולמסור
                    ו/או להעביר ו/או לספק גישה לנתוני המשתמשים בכל הנוגע לקבלת השירות.

                </li>
                <li>
                    <div>
                        <strong>
                            הרישיון
                        </strong>
                    </div>

                    <br>
                    החברה מעניקה לך בזאת, ואתה מקבל, רישיון מוגבל, לשימוש אישי בלבד, שאינו בלעדי, ללא זכות להמחאה,
                    בלתי-מסחרי, שאין
                    להעניק על בסיסו רישיונות משנה, ואשר ניתן לביטול באופן מלא, להשתמש בפורטל ו/או באפליקציה על גבי מחשב ו/או
                    מכשיר
                    נייד שבבעלותך או בשליטתך, כל זאת בהתאם לתנאים ולהוראות הנכללים בהסכם זה. אין בתנאים אלה בכדי להעביר אליך
                    כל זכות
                    בפורטל, באפליקציה ו/או בקשר אליהם, אלא רק זכות מוגבלת להשתמש בהם בהתאם לתנאים אלה. כל אדם ו/או גוף אחר,
                    המעוניין
                    בשימוש בפורטל ו/או באפליקציה ו/או בקבלת השירות מהחברה, גם אם הוא קשור במישרין ו/או בעקיפין למשתמש (למשל
                    ומבלי
                    להגביל את כלליות האמור במקרה של תאגיד – חברה בת ו/או חברה אחות של המשתמש), יהיה מחויב להתקשר במישרין עם
                    החברה
                    בהסכם נפרד, ולא יוכל לקבל את השירות מהחברה במסגרת התקשרות זו בין החברה למשתמש.

                    השימוש באפליקציה, בתוכן ו/או בשירותים כפוף גם לעמידתך בתנאי השימוש הרלוונטיים למכשיר הנייד שברשותך
                    (למכשיר תוצרת
                    <a href="https://www.apple.com/legal/internet-services/itunes/il/terms.html" target="_blank">
                        App Store Terms of Service
                    </a>, ולמכשיר הנתמך במערכת הפעלה מסוג אנדרואיד:
                    <a href="https://play.google.com/intl/en-us_us/about/play-terms.html" target="_blank">
                        Google Play Terms of Service
                    </a>).
                </li>
                <li>
                    <div>
                        <strong>
                            דמי השימוש בשירותים
                        </strong>
                    </div>

                    <br>
                    המשתמש מתחייב לשלם לחברה את מלוא דמי השימוש עבור השירות; שיעור דמי השימוש יקבע בהתאם לשימושים, אליהם
                    נרשם המשתמש
                    בפורטל ובאפליקציה, ומחיריהם כאמור במחירון החברה, כפי שיהיה מעת לעת ("דמי השימוש"). דמי השימוש ישולמו
                    על-ידי
                    המשתמש לחברה מראש עבור כל חודש, החל מהמועד בו נרשם המשתמש לשירות בפורטל ובאפליקציה, וזאת עד לסיום
                    ההתקשרות בין
                    הצדדים. המשתמש ישלם את דמי השימוש באמצעות כרטיס אשראי בתוקף, וימסור לחברה את כל הפרטים הנדרשים לשם חיובו
                    כאמור.
                    בכל מקרה של שינוי בפרטי כרטיס האשראי של המשתמש, ימסור המשתמש הודעת עדכון בכתב לחברה עם מלוא הפרטים
                    הנדרשים לחיוב
                    וזאת תוך שבעה (7) ימי עסקים מיום השינוי. מבלי לגרוע מכל זכות ו/או סעד העומדים לחברה לפי הסכם זה ו/או לפי
                    כל דין,
                    במקרה שהמשתמש לא ישלם לחברה במועד את מלוא דמי השימוש ו/או יפר את ההסכם בכל דרך אחרת, תהיה החברה רשאית
                    לסיים את
                    מתן השירות ואת ההתקשרות עימו, בהודעה בכתב אשר תיכנס לתוקף באופן מיידי (או במועד שצוין בה), ולא תהיה
                    למשתמש כל
                    טענה ו/או דרישה בקשר לכך.
                    <br>

                    למרות האמור לעיל בנוגע לתשלום דמי השימוש מראש עבור כל חודש שירות, כדי לאפשר למשתמש חדש של החברה (דהיינו
                    למשתמש
                    שהוא ו/או מי מטעמו, לרבות מנהלו ו/או תאגיד קשור אליו מעולם לא התקשר, במישרין או בעקיפין, עם החברה בהסכם
                    לקבלת
                    השירות ו/או שלא ניסה בעבר את התוכנה ו/או השירות), לבחון את התאמת התוכנה, הפורטל, האפליקציה והשירותים
                    לצרכיו,
                    מוסכם, כי החודש הראשון בתקופת ההתקשרות של המשתמש עם החברה יהיה "חודש ניסיון" בגינו לא תגבה החברה מהמשתמש
                    את דמי
                    השימוש.
                    <br>

                    שים לב: החברה שומרת לעצמה את הזכות לשנות, על-פי שיקול דעתה הבלעדי, את גובה דמי השימוש בעתיד.

                </li>
                <li>
                    <div>
                        <strong>
                            סודיות
                        </strong>
                    </div>

                    <br>
                    כל צד מתחייב בזאת, כי ככל שהוא ו/או גורם מורשה מטעמו, ייחשף למידע סודי של הצד השני, ישמור עליו בסודיות,
                    ולא
                    יעבירו ו/או יאפשר את חשיפתו לצד שלישי כלשהו ו/או לא יעשה בו שימוש כלשהו, אלא לצורך מתן ו/או קבלת השירות
                    על-פי
                    הסכם זה, לפי העניין.
                    <br>

                    ההתחייבות לשמירת סודיות כאמור לא תחול במקרה של חובת העברת מידע על-פי כל דין ו/או לגבי מידע שהפך להיות
                    נחלת הכלל
                    שלא בשל מעשה ו/או מחדל של המשתמש (במקרה שמדובר במידע סודי של החברה) או של החברה (במקרה שמדובר במידע סודי
                    של
                    המשתמש).
                    <br>

                    כמו כן מוסכם, כי החברה תהיה רשאית להעביר מידע בקשר להתקשרותה בהסכם זה עם המשתמש לצד שלישי כלשהו בקשר עם
                    עסקת
                    מכירה, רכישה, מיזוג, ארגון מחדש, העברת כל או חלק מעסקי החברה או כל שינוי שליטה אחר בחברה, בכפוף לכך
                    שאותו צד
                    שלישי, שיקבל את המידע יהיה כפוף לחובת הסודיות של החברה על-פי הסכם זה, ושככל שניתן יימסר רק מידע על עצם
                    קיום
                    ההתקשרות של המשתמש עם החברה בהסכם זה, ויועבר לאנשי מקצוע (רו"ח ועו"ד) של הצד השלישי מקבל המידע.
                </li>
                <li>
                    <div>
                        <strong>
                            התחייבות המשתמש
                        </strong>
                    </div>

                    <br>
                    כתנאי לשימושך בפורטל ו/או באפליקציה ו/או בשירותים הנך מציג ומתחייב כלפי החברה כי:
                    <br>

                    לא תפר את התנאים בהסכם זה, כפי שהם עשויים להתעדכן, מעת לעת; ו-
                    <br>

                    ככל שהנך יחיד - הנך בעל הכשירות המשפטית להיכנס להסכם זה ולקיים התחייבויותיך לפי הסכם זה כמיטב יכולתך;
                    ככל שהנך
                    תאגיד – הנך תאגיד קיים ורשום בישראל, שתקבלו בו כל ההחלטות הנדרשות לשם התקשרותך בהסכם זה וביצעו, והנך
                    רשאי להתקשר
                    בהסכם זה והאדם המאשר הסכם זה באופן מקוון/אלקטרוני מטעמו מוסמך לחייבו בהסכם זה; ו-
                    <br>

                    אין מניעה על-פי כל דין ו/או הסכם להתקשרותך בהסכם זה ולביצוע התחייבויותיך לפיו; ו-
                    <br>

                    אתה מסכים כי החברה תשתמש, תאסוף, תאחסן ותשמור מידע בקשר לשירות הניתן לך לשם הבטחת איכות ו/או שיפור
                    השירות, לרבות
                    לשם עריכת השוואות סטטיסטיות וענפיות; ו-
                    <br>

                    אתה מסכים כי במהלך מתן השירות, לרבות במסגרת מתן מידע, הנחיות שימוש למשתמש, טיפול בתקלות וכיו"ב, החברה
                    ו/או מי
                    מטעמה, ובכלל זה נציגיה ו/או עובדיה, עשויים להיחשף למידע שלך, לרבות מידע סודי, ובעניין זה יחולו הוראות
                    הסודיות
                    שבהסכם זה.

                </li>
                <li>
                    <div>
                        <strong>
                            שימושים אסורים
                        </strong>
                    </div>

                    <br>
                    ישנן התנהגויות מסוימות אשר אסורות לחלוטין במסגרת השימוש בפורטל ו/או באפליקציה ו/או בשירותים. אנא קרא
                    בקפדנות את
                    האיסורים המופיעים להלן. אי מילוי על-ידך אחר ההוראות אשר מפורטות להלן עלול (לפי שיקול דעתה הבלעדי של
                    החברה) לגרום
                    להפסקת הגישה שלך לפורטל ו/או לאפליקציה ו/או לשירותים ובנוסף עלול לחשוף אותך לאחריות אזרחית ו/או פלילית.
                    <br>

                    אינך רשאי (בין בעצמך ובין על-ידי מי מטעמך:(א) להעתיק, לשנות, להתאים, לתרגם, לעשות פעולות של הנדסה הפוכה,
                    לעשות
                    פעולות של הידור הפוך, לפרק, להציג בפומבי, להפיץ או לשדר, בכל דרך, את הפורטל ו/או האפליקציה ו/או התכנים
                    המופיעים
                    בהם; (ב) לעשות כל שימוש בתכנים המופיעים בפורטל ובאפליקציה לכל מטרה, או לשכפל או להעתיק את התכנים האמורים
                    מבלי
                    לקבל הרשאה מראש בכתב מהחברה; (ג)ליצור סביבת דפדפן או תיחום אחר של המידע סביב התכנים של החברה (חל איסור
                    על הצגת
                    המידע במסגרת framing); (ד) לפגוע או להפר את הזכות לפרטיות או כל זכות אחרת של משתמש אחר, או לאסוף מידע
                    מזהה ואישי
                    על משתמשים ללא קבלת הסכמה מפורשת שלהם, לרבות על-ידי שימוש ב"רובוט", "עכביש" ("spider") יישום לעריכת
                    חיפושים
                    בפורטל ובאפליקציה או בחלקים מהם לרבות מאגרי המידע שלהם או לאחזור מידע מהפורטל ומהאפליקציה או מחלקים מהם
                    לרבות
                    מאגרי המידע או באמצעות התקן ידני או אוטומטי או באמצעות תהליך אשר מאפשר לאחזר, ליצור מפתח (אינדקס) או
                    כריית
                    נתונים (datamine); (ה) להוציא לשון הרע, להשמיץ, להתעלל, לעקוב, להטריד, לאיים, או לפגוע בכל דרך אחרת
                    בזכויות
                    חוקיות של אחרים, לרבות משתמשים אחרים; (ו)להעביר או ליצור בכל דרך אחרת, בקשר לפורטל ולאפליקציה, כל וירוס,
                    "תולעת", סוס טרויאני, באג, רוגלה, נוזקה, או כל קוד מחשב, קובץ או תוכנית אחרים אשר עשויים להזיק, או נועדו
                    להזיק
                    לפעילות של כל חומרה, תוכנה או ציוד תקשורת, או קוד או רכיב, שהם מזיקים, שיש בהם פוטנציאל לגרום נזק, שהם
                    מפריעים
                    או פולשניים; (ז)לפגוע בפעולת הפורטל ו/או השירותים, לעכבם או להפריע להם; לעכב או לפגוע בפעולה או להפריע
                    לפעולה של
                    שרתים או רשתות אשר מארחים את הפורטל והאפליקציה או מאפשרים את זמינותם, או לא לציית לכל דרישה, נוהל,
                    מדיניות או
                    תקנה של שרתים או רשתות אלה; (ח)למכור, לתת רישיון, או לנצל למטרה מסחרית כלשהי כל שימוש או גישה לשירותים
                    ו/או
                    לפורטל ללא הסכמתה המפורשת של החברה, לרבות שימוש בתכנים המופיעים בהם; (ט)לתחם (frame)או ליצור העתק
                    (mirror) של כל
                    חלק של הפורטל ללא הרשאה מראש מפורשת בכתב מהחברה; (י)ליצור מאגר מידע על-ידי הורדה ואחסון שיטתיים של כל או
                    חלק
                    מהתכנים אשר מופיעים בפורטל ובאפליקציה; (יא)להעביר כל מידע אשר הופק מהפורטל ו/או מהאפליקציה ללא קבלת
                    הרשאה מראש
                    בכתב מהחברה; (יב)להעביר או להמחות את הסיסמה לחשבון המשתמש, אפילו באופן זמני, לצד שלישי; (יד) להשתמש
                    בפורטל ו/או
                    באפליקציה ו/או בתכנים לכל מטרה שאינה חוקית, בלתי מוסרית או בלתי מורשית; (טו)לעשות שימוש בשירותים, בתכנים
                    המוצגים
                    בפורטל ובאפליקציה למטרות מסחריות או שאינן פרטיות ללא קבלת הרשאה מפורשת ובכתב מהחברה מראש; ו/או (טז) להפר
                    אי-אילו
                    מתנאים אלה.
                </li>
                <li>
                    <div>
                        <strong>
                            זכויות קניין רוחני
                        </strong>
                    </div>

                    <br>
                    הפורטל, האפליקציה, השירותים, וכל זכויות הקניין הרוחני הנלוות והקשורות אליהם, לרבות המצאות, פטנטים ובקשות
                    לפטנטים, סימני מסחר ובקשות לסימני מסחר, שמות מסחר, לוגו, מוניטין, חומרים המוגנים בזכויות יוצרים,
                    גרפיקות,
                    טקסטים, תמונות, עיצובים (כולל ה-look and feelשל הפורטל ו/או השירותים), מפרטים, שיטות, תהליכים,
                    אלגוריתמים,
                    נתונים, מידע טכני, טכנולוגיה, מאפיינים אינטראקטיביים, קוד מקור , קוד מכונה, קבצים, ממשקים, ממשק גרפיים
                    וסודות
                    מסחר, בין אם רשומים או ניתנים לרישום ובין אם לאו ("הקניין הרוחני") שייכים ו/או ניתנים ברישיון לחברה
                    ומוגנים
                    בזכויות יוצרים וזכויות קניין רוחני אחרות תחת דיני מדינת ישראל ודינים אחרים. אלא אם כן הותר במפורש בתנאים
                    אלה,
                    אינך רשאי להעתיק, להפיץ, להציג, לבצע בפומבי, להעמיד לרשות הציבור, לפרק, להפריד, להתאים, לתת רישיון משנה,
                    לעשות
                    שימוש מסחרי, למכור, להשכיר, להשאיל, לעבד, לחבר, לבצע "הנדסה הפוכה", לשלב עם תוכנות אחרות, לתרגם, לשנות
                    או ליצור
                    יצירות נגזרות של הקניין הרוחני, בעצמך או על-ידי מישהו מטעמך בכל אופן שהוא.
                    <br>

                    כל זכות שלא הוקנתה לך במפורש על-פי תנאי השימוש תישמר בידי החברה ונותני הרישיון שלו.
                    <br>

                    הינך מנוע מלהסיר, להפריד, למחוק או לנתק מהתכנים שבפורטל ובאפליקציה הודעות בדבר זכויות יוצרים, הגבלות
                    למיניהן
                    ו/או סימנים המורים על קיומן של זכויות קניין כלשהן של החברה או של מעניקי הרישיון לחברה, לרבות הסימנים
                    הבאים אשר
                    עשויים להופיע בפלט או בתכנים ©, ®, ™. הינך מתחייב לציית לחוקים החלים בהקשרים אלה.
                    <br>

                    במידה ותספק לחברה משוב, פידבק, הערה או הצעה כלשהי לגבי הפורטל ו/או האפליקציה ו/או השירותים ("פידבק"),
                    החברה תהיה
                    זכאית לקבל רישיון בלעדי, ללא תמלוגים, תמידי, כלל עולמי ובלתי הדיר לשלב את הפידבק בכל המוצרים והשירותים
                    הנוכחיים
                    או העתידיים של החברה, והחברה תהיה זכאית להשתמש, ללא קבלת אישורך, בפידבק לכל מטרה שהיא וכל זאת מבלי
                    להעניק לך כל
                    תמורה שהיא. אתה מאשר כי פידבק כאמור יחשב כלא סודי. כמו כן, הנך מצהירה כי הפידבק אינו כפוף לתנאי רישיון
                    כאלה
                    ואחרים אשר יש בהם כדי לחייב את החברה לעמוד בחובות נוספות בקשר למוצריה ו/או לשירותיה הכוללים או המשלבים
                    את
                    הפידבק.
                    <br>

                    אף הוראה בתנאי השימוש לא מהווה ויתור על קניינו הרוחני של החברה על-פי כל דין.

                </li>
                <li>
                    <div>
                        <strong>
                            סימני מסחר ושמות מסחר
                        </strong>
                    </div>

                    <br>
                    הסמלים המסחריים ושאר המזהים הקניינים בהם משתמשת החברה בקשר עם הפורטל ו/או האפליקציה ו/או השירותים
                    ("סימני מסחר
                    של החברה") הם כולם סימני מסחר ו/או שמות מסחר של החברה, בין אם רשומים ובין אם לאו. כל שאר סימני המסחר,
                    שמות
                    המסחר, סימנים מזהים אחרים וסמלים מסחריים אחרים (לרבות סוגים שונים של לוגו) שיכולים להופיע בפורטל ו/או
                    האפליקציה
                    ו/או בשירותים שייכים לבעליהם ("סימני מסחר של צדדים שלישיים"). כל סימני המסחר של צדדים שלישיים מופיעים
                    בפורטל
                    ובאפליקציה למטרות הצגה, תיאור וזיהוי בלבד והינם שייכים לבעליהם. לא ניתנת בזאת כל זכות, רישיון או קניין
                    בסימני
                    המסחר של החברה או בסימני המסחר של צדדים שלישיים ולכן עלייך להימנע משימוש כלשהו בסימנים אלו אלא אם כן
                    שימוש כזה
                    אושר באופן מפורש בתנאים.
                </li>
                <li>
                    <div>
                        <strong>
                            זמינות הפורטל, האפליקציה והשירותים
                        </strong>
                    </div>

                    <br>
                    הזמינות של הפורטל, האפליקציה והשירותים וכן פעילותם התקינה תלויות בגורמים רבים, אשר אינם מצויים בשליטתה
                    של החברה,
                    לרבות תוכנה, חומרה, רשתות תקשורת, ספקי שירותים או קבלני משנה של החברה או צדדים שלישיים אחרים (לרבות אלה
                    המספקים
                    שירותי אחסון ענן).
                    <br>

                    החברה איננה מבטיחה כי הפורטל, האפליקציה והשירותים יהיו זמינים תמיד ו/או יפעלו בצורה תקינה בכל זמן ללא
                    הפרעה, או
                    שפעילותם תהיה חופשיה מתקלות, אך אנו נעשה מאמצים סבירים על מנת להבטיח שהפורטל והאפליקציה יהיו זמינים
                    באופן רציף
                    לאורך כל השנה. יחד עם זאת, החברה אינה מבטיחה או מתחייבת כי הפורטל והאפליקציה יפעלו ו/או יהיו זמינים בכל
                    עת ללא
                    הפרעות או תקלות, וכי יהיו ללא פגם.
                    <br>

                    הנך מסכים בזאת כי החברה לא תהיה אחראית לאי היכולת של הפורטל והאפליקציה לפעול או להיות נגישים, מכל סיבה
                    שהיא;
                    לרבות הפסקות בפעילות האינטרנט או רשתות, הפסקות בפעילות החומרה או התכנה במהלכן בשל בעיות טכניות או אחרות
                    שאינן
                    בשליטתנו (למשל סיכול, כח עליון, רשלנות של צדדים שלישיים) ועוד. כמו כן, הנך מסכים בזאת כי החברה לא תהא
                    אחראית
                    לנזקים שנגרמו כתוצאה משיבוש או תקלה אשר אינם בשליטתה, ככל שעשתה מאמץ סביר למנוע אותם.
                    <br>

                    במידה ונדרשת תחזוקה בפורטל ו/או באפליקציה, ולכן לא יהיו זמינים לתקופה כזו או אחרת, אנו נשתדל ליידע את
                    המשתמשים
                    על כך מבעוד מועד, ובמידת האפשר.
                </li>
                <li>
                    <div>
                        <strong>
                            מדיניות פרטיות
                        </strong>
                    </div>

                    <br>
                    החברה מכבדת את הפרטיות שלך ומחויבת להגן על המידע האישי שאתה משתף עם החברה. אנחנו מאמינים כי למשתמשים
                    שלנו יש את
                    הזכות המלאה להכיר את המדיניות ואת הנהלים שלנו בנוגע לאיסוף ושימוש במידע המתקבל על-ידינו בשעה שהמשתמשים
                    שלנו
                    משתמשים בפורטל ו/או באפליקציה ו/או בשירותים. מדיניות הפרטיות של החברה, הנהלים וסוגי המידע אשר נאספים
                    על-ידי
                    החברה מתוארים במדיניות הפרטיות של הפורטל המופיעה בלינק הבא: _________. הנך מסכים ומאשר כי החברה תעשה
                    שימוש במידע
                    אישי אשר העברת ו/או הנגשת לחברה בהתאם למדיניות הפרטיות. אם בכוונתך להיכנס ו/או להתחבר ו/או להשתמש בפורטל
                    ו/או
                    באפליקציה, עליך לקרוא תחילה ולהסכים למדיניות הפרטיות.
                </li>
                <li>
                    <div>
                        <strong>
                            הסרת אחריות
                        </strong>
                    </div>

                    <br>
                    במידה המקסימאלית האפשרית על פי דין, הפורטל, האפליקציה והשירותים ניתנים למשתמשים "כמות שהם" ("AS IS"),
                    ללא כל
                    התחייבות או אחריות מכל סוג שהוא, באופן מפורש או מכללא, לרבות בין השאר, אחריות לזכות בעלות או לאי-הפרה או
                    אחריות
                    מכללא לאיכות מסחרית או להתאמה למטרה מסוימת. החברה אינה אחראית ואינה מעניקה מצגים לגבי היכולת או העדר
                    היכולת
                    להשתמש בפורטל ו/או בשירותים, או לגבי התוצאה של השימוש בהם וכן לא תישא בכל אחריות לגבי נכונות, איכות,
                    זמינות,
                    אמינות, שלמות, התאמה, תועלתיות ויעילות של התכנים אשר נכללים בהם. יתכן כי הדינים החלים עליך מעניקים לך
                    זכויות
                    צרכניות אשר הסכם זה אינו יכול לשנותן.
                    <br>

                    החברה אינה מתחייבת (א) כי הפורטל ו/או האפליקציה יהיו בטוחים לשימוש, מדויקים, מלאים, ללא תקלות או הפרעות,
                    או חפים
                    מכל וירוסים , פגמים, תולעים, רכיבים מזיקים אחרים או הגבלות תוכנה אחרות; וכן (ב) כי היא תתקן כל תקלה או
                    פגם
                    בפורטל ו/או באפליקציה.
                    <br>

                    החברה איננה, במפורש או משתמע, ממליצה, תומכת או נושאת בכל אחריות שהיא לנזק והוצאה הנובעים משימוש בפורטל
                    ו/או
                    האפליקציה ו/או בשירותים. החברה לא תישא באחריות לכל נזק כלשהו, לרבות נזק עקיף, מיוחד, אגבי או ארעי, בין
                    אם נגרם
                    כתוצאה או בקשר לשימוש בפורטל ו/או האפליקציה ו/או בשירותים, בין אם החברה הודיעה למשתמש על אפשרות לנזק
                    כזה.
                    <br>

                    החברה אינה מתחייבת לכך שהשימוש בפורטל ו/או באפליקציה יהיה מאובטח, מדויק, שלם, נטול הפרעות, נטול תקלות או
                    חופשי
                    מווירוסים או רכיבים מזיקים או מגבלות אחרות בתפקוד.
                    <br>

                    לחברה אין כל אחריות לכל שירות שניתן על-ידי אדם או גוף שאינו החברה.
                    <br>

                    החברה לא תהא אחראית לכל תוצאה הנובעת מתקלות טכניות (לרבות, אך לא רק, בקשר לקישוריות האינטרנט, עומס קו או
                    שרתים,
                    ועיכובים והפרעות קשורים) והנובעות מספקי אינטרנט וטלקומוניקציה.
                    <br>

                    החברה לא תהיה אחראית ולא תתקן תקלות בקשר לשירותים הנובעות ממחשבי הלקוח/ה ו/או מאמצעים טכנולוגיים ו/או
                    אחרים
                    שבשימושו, לרבות עקב וירוס, תולעת, סוס טרויאני או כל רכיב פוגעני אחר ו/או רכיב העלול להפריע לעבודת
                    השירותים,
                    והלקוח/ה יהיה/תהיה אחראי/ת באופן מלא ובלעדי לבטיחות מכשיריו/ה האלקטרוניים.
                    <br>

                    שים לב: הינך מודע/ת ומסכים/ה לכך שאת/ה האחראי/ת הבלעדי/ת לכל החלטות או פעולות שהתקבלו על-ידך כתוצאה או
                    בקשר
                    לשימוש כלשהו בפורטל ו/או באפליקציהו/או בשירותים. השימוש בפורטל ו/או באפליקציהו/או בשירותים הינם באחריותך
                    הבלעדית.
                    <br>

                    החברה אינה אחראית לטיב או איכות תוכן המשתמשים המוצע בפורטל ובאפליקציה וכי הינו מדויק ונקי מטעויות.
                    <br>

                    שים לב: הפורטל, האפליקציה והשירותים ניתנים לך "כמות שהם" ("AS IS"). המשתמש מסכים ומאשר כי השימוש בפורטל
                    ו/או
                    האפליקציהו/או בשירותים הינו באחריותו הבלעדית וכי אין לחברה כל אחריות לתוצאות העשויות לנבוע משימוש
                    בשירותים,
                    לתפקוד הפורטל ו/או לתפקוד האפליקציהו/או השירותים. החברה לא תהא אחראית עבור כל נזק שהוא, לרבות אך לא רק,
                    כל נזק
                    הנובע מהשימוש שלך בפורטל ו/או באפליקציהו/או בשירותים.
                    <br>

                    המשתמש מודע ומסכים לכך שהנו האחראי הבלעדי לכל החלטות או פעולות שהתקבלו או נעשו על-ידו כתוצאה ו/או בקשר
                    לשימוש
                    כלשהו בפורטל ו/או באפליקציהו/או בשירותים.
                </li>
                <li>
                    <div>
                        <strong>
                            הגבלת אחריות
                        </strong>
                    </div>

                    <br>
                    במידה המקסימאלית האפשרית על-פי דין, החברה (לרבות בעלי מניותיה, הדירקטורים שלה, עובדיה, יועציה וסוכניה)
                    לא תהיה
                    אחראית לכל נזקים, מכל סוג שהוא, לרבות, נזקים עקיפים, מיוחדים, אגביים או תוצאתיים, בין במסגרת תביעה על-פי
                    חוזה,
                    בתביעת נזיקין או בכל תביעה אחרת בגין מעשה עוולה אשר ינבע מהשימוש שלך בפורטל ו/או באפליקציה ו/או
                    בשירותים, לרבות
                    בקשר להחלטה שהתקבלה או לא התקבלה או לכל פעולה שננקטה או שלא ננקטה בהסתמך על הפורטל ו/או האפליקציה ו/או
                    השירותים
                    או על כל מידע אחר הנובע משימוש בהם, או על כל נזק אחר הנובע משימוש בהם, מחוסר האפשרות להשתמש בהם, חוסר
                    היכולת של
                    הפורטל ו/או האפליקציה ו/או השירותים לפעול כפי שהוצג לך, פגיעה במוניטין או ברווחים, חוסר היכולת של החברה
                    לפעול
                    בהתאם לתנאים אלה, כל מעשה או מחדל אחר של החברה המבוסס על הפרה של מצגים או התחייבויות של החברה על-פי
                    חוזה,
                    רשלנות, אחריות קפידה או תחת עוולה אחרת, בין אם החברה הודיעה לך על אפשרות שנזק כזה עלול להיגרם ובין אם
                    לאו.
                    <br>

                    מבלי לגרוע מכלליות האמור, ובמידה המקסימאלית האפשרית על פי דין, החבות המצטברת של החברה עבור כל הנזקים
                    וההפסדים
                    הנובעים מהתנאים או הקשורים בשימושך (או באי-שימושך) בפורטל ו/או האפליקציה לא תעלה על הסכום ששולם בפועל
                    על-ידך
                    לחברה עבור השימוש בשירותים בגין חודש שירות אחד בלבד, ככל שרלוונטי.
                    <br>

                    במידה וסמכויות שיפוט מסוימות אינן מתירות החרגות או הגבלות כאמור, לא תהא תחולה להחרגות או הגבלות כאמור
                    במקומות
                    שיפוט אלו.
                </li>
                <li>
                    <div>
                        <strong>
                            שיפוי
                        </strong>
                    </div>

                    <br>
                    הינך מסכים להגן ולשפות את החברה מפני ונגד כל תביעות, הפסדים, עלויות, נזקים, התחייבויות והוצאות (לרבות
                    בין השאר,
                    שכר טרחת עורכי דין) אשר נובעים מ:(א) השימוש שלך בפורטל ו/או באפליקציה ו/או בשירותים; (ב) כל הפרה מצידך
                    של התנאים
                    האלה; (ג) כל נזק מכל סוג שהוא, בין אם נזק ישיר, עקיף, מיוחד או תוצאתי, שגרמת לצד שלישי אשר קשור לשימוש
                    שלך
                    בפורטל ו/או באפליקציה ו/או בשירותים (כולל הפרה מצידך של זכויות צדדים שלישיים לרבות זכויות קניין רוחני
                    והזכות
                    לפרטיות); וכן (ד) כל טענה לפיצויים כספיים או אחרים הנובעים מנזק שנגרם למשתמש אחר בעקבות השימוש שלך
                    בפורטל ו/או
                    באפליקציה ו/או בשירותים. מובהר בזאת כי חובת השיפוי האמורה תחול אף לאחר סיום התקשרותך עם החברה.
                    <br>
                    מבלי לגרוע מכלליות האמור, אנו שומרים את הזכות הבלעדית לנהל (ולשאת בהוצאות) כל עניין הקשור בשיפוי מצדך,
                    באופן
                    שאינו גורע מחובתך זו, והמחייב אותך לשתף פעולה מלאה איתנו בניהול הליך הגנה. הנך מסכים שלא תסכים לפשרה בכל
                    עניין
                    הכפוף לשיפוי על-ידך מבלי לקבל לכתחילה את הסכמתנו בכתב לכך.
                </li>
                <li>
                    <div>
                        <strong>
                            שינויים לפורטל ו/או לשירותים
                        </strong>
                    </div>

                    <br>
                    החברה שומרת לעצמה את הזכות לבצע תיקונים, הרחבות, שיפורים, התאמות וכל שינוי אחר, או להפסיק, זמנית או
                    לצמיתות, את
                    פעילות הפורטל ו/או האפליקציה ו/או השירותים ללא הודעה מוקדמת ובכל זמן שתראה לנכון לפי שיקול דעתה הבלעדי.
                    אתה
                    מסכים כי החברה אינה אחראית כלפיך או כלפי כל צד שלישי בשל כל שינוי, השעיה, או הפסקה של פעילות הפורטל ו/או
                    האפליקציה ו/או השירותים אשר נכללים בפורטל זה.

                </li>
                <li>
                    <div>
                        <strong>
                            תנאים מיוחדים הנוגעים לרכיבי צד שלישי
                        </strong>
                    </div>

                    <br>
                    הפורטל עשויי להשתמש או לכלול תוכנות, קבצים ו/או רכיבים הכפופים לתנאי רישיונות לרבות רישיונות קוד פתוח של
                    צדדים
                    שלישיים ("רכיבי צד שלישי"). הינך רשאי להשתמש ברכיבי צד שלישי כחלק מ-, או בהקשר עם, הפורטל אך ורק בכפוף
                    לעמידתך
                    בתנאי הרישיון החלים ו/או הנלווים לרכיבי צד שלישי הרלוונטיים. אם יש סתירה בין תנאי הרישיון של רכיב צד
                    שלישי
                    ותנאים אלו, תנאי הרישיון של רכיב הצד השלישי הרלוונטי יגברו וזאת רק בהקשר לרכיבי צד שלישי. תנאים אלה אינם
                    חלים על
                    כל רכיבי צד שלישי הנלווים ו/או הכלולים בפורטל והחברה מסירה כל אחריות הקשורה בכך. אתה מכיר בכך שהחברה
                    אינה
                    היוצרת, הבעלים או מעניקת הרישיון של רכיבי צד שלישי, והחברה אינה מעניקה כל מצג או התחייבות מכל סוג שהוא,
                    באופן
                    מפורש או מכללא, בדבר איכות, יכולות, תפעול, ביצוע או התאמתו של רכיב צד שלישי זה או אחר. אין לראות את
                    הפורטל ו/או
                    האפליקציה או כל חלק מהם (פרט לרכיבי צד שלישי הכלולים בהם) כתוכנת "קוד פתוח".

                </li>
                <li>
                    <div>
                        <strong>
                            סיכונים הקשורים לרשת האינטרנט ולרשת הסלולר
                        </strong>
                    </div>

                    <br>
                    החברה משקיעה מאמצים רבים בהגנה מפני סיכונים הטמונים ברשת האינטרנט, ברשת הסלולר ובמערכות מחשוב בכלל, ככל
                    שההגנה
                    מפניהם נתונה בידיו. עם זאת, אין ביכולתו ו/או בשליטתו של החברה למנוע לחלוטין את חדירתן ופעולתן של תוכנות
                    מזיקות
                    וגורמים עוינים כגון וירוסים, "תולעים" (worms), סוסים טרויאניים, באגים, רוגלות (spywares), נוזקות
                    (malwares), או
                    כל קודי מחשב, קבצים או תוכנות אחרות אשר עשויים לפגוע בפרטיותך, לצותת לתעבורת הרשת, לפרוץ למאגרי המידע של
                    החברה,
                    לשרתים או למחשבים, להתחזות ליישום או לחברה, לבצע תרמיות והונאות מקוונות, להזיק או לחבל בפעילות הפורטל
                    ו/או
                    השירותים. אנו מפצירים בך לקרוא בעיון את דף ההמלצות וההנחיות בנוגע לאבטח מידע בפורטל ולפעול לפי ההנחיות
                    המפורטות
                    בו. אין באמור לעיל כדי לגרוע מאחריותו של מי מהצדדים.

                </li>
                <li>
                    <div>
                        <strong>
                            הודעות והתראות
                        </strong>
                    </div>

                    <br>
                    השירותים עשויים לכלול קבלת הודעות PUSH, מסרונים, הודעות דואר אלקטרוני או התראות אחרות מהחברה, והנך מסכים
                    בזאת
                    לקבלת כל אלה (הודעות PUSHישלחו למשתמש לאחר שהמשתמש הסכים באופן אקטיבי לקבל הודעות אלה). המשתמש רשאי לבטל
                    את
                    האפשרות לקבל הודעות PUSHמהחברה על-ידי שינוי ההגדרות במכשיר הנייד שלו.
                    <br>

                    החברה אינה מתחייבת לגבי עצם ו/או עיתוי מסירתן של הודעות מסוג זה ו/או מידת הדיוק בתוכנן, ומוסכם כי החברה
                    לא תישא
                    באחריות בגין כל עיכוב, אי מסירה או מסירה מוטעית של הודעה מסוג זה, טעות בתוכן ההודעה, או כל פעולה שתינקט
                    או שלא
                    תינקט על-ידי המשתמש ו/או על-ידי צד שלישי כלשהו תוך הסתמכות על מנגנון התראות זה.
                </li>
                <li>
                    <div>
                        <strong>
                            שינויים בתנאי השימוש
                        </strong>
                    </div>

                    <br>
                    החברה שומרת על זכותה לשנות את תנאי השימוש בכל זמן על-פי שיקול דעתה הבלעדי של החברה, ומבקשת מכלל המשתמשים
                    לשוב
                    ולבקר בדף זה לעיתים קרובות ככל האפשר. אנחנו נודיע לך על כל שינוי מהותי בתנאי השימוש, על-ידי החלפת הקישור
                    ל"תנאי
                    השימוש" בעמוד הבית של הפורטל בקישור ששמו "תנאי השימוש מעודכנים ליום ____" ו/או על-ידי משלוח דואר
                    אלקטרוני לכתובת
                    אותה יתכן והעברת לחברה במסגרת השימוש בפורטל. שינויים מהותיים אלה יכנסו לתוקף תוך שבעה (7) ימים ממועד
                    ההודעה
                    כאמור. כל שאר השינויים בתנאי השימוש ייכנסו לתוקף בתאריך הנקוב בלינק "עודכן לאחרונה", והמשך השימוש שלך
                    בפורטל
                    ו/או באפליקציה לאחר תאריך העדכון האחרון הנקוב יהווה הסכמה שלך לכך שהשינויים יחייבו אותך. במידה ונצטרך
                    לשנות את
                    התנאים על מנת לעמוד בדרישות הדין, שינויים אלה יכנסו לתוקף באופן מידי או כנדרש על פי דין, וזאת ללא מתן
                    הודעה
                    מוקדמת.

                </li>
                <li>
                    <div>
                        <strong>
                            תקופת ההסכם וסיום ההתקשרות
                        </strong>
                    </div>

                    <br>
                    הסכם זה ייכנס לתוקף לאחר שישלים המשתמש את הרישום בפורטל ו/או באפליקציה, ויוותר בתוקף עד לביטולו ו/או
                    לסיומו
                    בהתאם לתנאי הסכם זה ("תקופת השימוש בשירותים"). מבלי לגרוע מהאמור בהסכם זה לגבי זכות החברה לבטל את ההסכם
                    במקרה של
                    הפרתו על-ידי המשתמש, כל צד להסכם זה יהיה רשאי לסיים את ההתקשרות לפיו על-ידי מסירת הודעה בכתב לצד השני;
                    סיום
                    ההסכם ייכנס לתוקף בתום החודש שבו נמסרה הודעת הביטול ושעבורו שולמו דמי השימוש, ככל ולא נקבע אחרת בין
                    הצדדים בכתב.
                    מובהר, כי אין בסיום ההסכם מכל סיבה שהיא כדי לגרוע מחובת המשתמש לקיים את כל התחייבויותיו על-פי הסכם זה,
                    ובכלל זה
                    התחייבותו לתשלום דמי השימוש בגין תקופת ההתקשרות, קרי עד למועד סיום קבלת השירות.
                    <br>

                    ידוע למשתמש, כי לאחר סיום ההתקשרות: (א) אין החברה מחויבת לשמור על נתוני המשתמש, ו- (ב) לבקשת המשתמש תמחק
                    החברה
                    את נתוני המשתמש.
                </li>


                <li>
                    <div>
                        <strong>
                            הפסקת פעילות הפורטל ו/או השירותים וסיום התנאים
                        </strong>
                    </div>

                    <br>
                    החברה תהא רשאית, בכל זמן, לחסום את גישתך לפורטל ו/או לאפליקציה ו/או לשירותים, כולם או חלקם, באופן זמני
                    או
                    לצמיתות, להשהות, או להסיר את חשבון המשתמש שלך, בהתאם לשיקול דעתה הבלעדי של החברה, אם החברה סבורה כי אחד
                    או יותר
                    מהמקרים הבאים נתקיימו: (א) קיים סיכון לאבטחה או לאמינות של הרשת או השרתים של החברה; (ב) השהייה או ביטול
                    נחוצים
                    כדי להגן על זכויות, קניין או האבטחה של החברה, משתמשיה או הציבור; (ג) קיים בסיס לביטול חשבונך; (ד) הפרת
                    את
                    התנאים; ו/או (ה) אנו נדרשים לכך על-פי דין. במהלך ההשהיה לא תהיה לך האפשרות להיכנס או להשתמש בחשבונך. היה
                    ונקבע,
                    במסגרת שיקול דעתנו הבלעדי, כי הסיבה להשהייה באה על תיקונה, נשיב לך את הגישה לחשבונך.
                    <br>

                    לחברה אף תעמוד כל תרופה אחרת מכוח הדין, במידה והחברה זיהתה כי פעילותך או השימוש שלך בפורטל ו/או
                    באפליקציה ו/או
                    בשירותים מהווה הפרה של התנאים באופן כלשהו.
                    <br>

                    במידה ואינך מסכים לתנאים (כפי שהם מתעדכנים מעת לעת), או אינך שבע רצון עם הפורטל ו/או השירותים, באפשרותך
                    לחסום את
                    השימוש בשירותים בכל עת באמצעות פניה לחברה במספר טלפון: 03-5610382, מספר פקס:
                    <br>

                    03-6844889 ודוא"ל: <a href="mailto:service@bizibox.biz" target="_blank">service@bizibox.biz</a>.
                    <br>

                    כמו כן, החברה רשאית בכל זמן שהוא ובהתאם לשיקול דעתה הבלעדי, להפסיק את פעילות הפורטל ו/או באפליקציה ו/או
                    השירותים, באופן זמני או לצמיתות, ללא הודעה מוקדמת. הינך מאשר ומסכים כי החברה לא תהא אחראית לאובדן מידע
                    ו/או
                    נזקים כלשהם הנובעים או קשורים בהחלטתה להפסיק או להשהות את פעילות הפורטל ו/או האפליקציה ו/או השירותים.
                    <br>

                    במקרה של סיום התנאים על-ידך או על-ידי החברה: (א) הרישיון וכל הזכויות שהוענקו לך במסגרת התנאים נפסקים
                    וחדלים
                    להתקיים, באופן אוטומטי; (ב) עליך להפסיק מיידית את השימוש בפורטל, וככל שתידרש לכך, להצהיר על כך בפני
                    החברה; וכן
                    (ג) הסעיפים אשר מטיבם ומטבעם שורדים את סיום התנאים על מנת להשיג את מטרות התנאים יישארו בתוקף. מבלי לגרוע
                    מכלליות
                    האמור לעיל, תנאי השימוש בנוגע לסעיפים הבאים: זכויות קניין רוחני, הסרת אחריות, הגבלת אחריות, שיפוי
                    וההוראות
                    המופיעות בסעיף "כללי", יישארו בתוקפם גם לאחר סיום התנאים.
                </li>
                <li>
                    <div>
                        <strong>
                            מדיניות השימוש בעוגיות ("Cookies") וטכנולוגיות אחרות
                        </strong>
                    </div>

                    <br>
                    בעת השימוש בפורטל ו/או כחלק מהליך הגעתך לפורטל, לרבות באמצעות קמפיינים שיווקיים שלנו ברשתות החברתיות,
                    אנו עשויים
                    להשתמש בטכנולוגיות מקובלות ומוכרות בתעשייה כגון "עוגיות" (cookies) ("עוגיות").
                    <br>

                    העוגיות נשמרות על גבי מכשירך ומאפשרות לנו להפעיל מאפיינים מסוימים באופן אוטומטי, וכן להקל ולפשט את
                    חוויית השימוש
                    בפורטל. ניתן לנטרל את העוגיות. למשל, מרבית דפדפני האינטרנט מאפשרים למשתמשים למחוק עוגיות ממכשירי
                    המשתמשים, לחסום
                    קבלה של עוגיות או לקבל התראות לפני אחסונן של עוגיות. עם זאת, יש לשים לב כי במידה והמשתמש ימחק את העוגיות
                    או לא
                    יאפשר את אחסונן, החוויה המקוונת של המשתמש דרך הפורטל עשויה להיפגע. אנא עיין בהוראות אשר מצויות בדפדפן
                    שלך או
                    במסך ה"עזרה" על מנת ללמוד עוד על פונקציות אלה.
                    <br>

                    השימוש בטכנולוגיות אחרות מאפשר לנו למדוד את התגובות לפעילויות שאנו מציעים על דפי הפורטל ולשפר את דפי
                    הפורטל
                    ומאמצי השיווק שלנו, באמצעות פילוח וניתוח של מידע לא אישי המסופק לנו באמצעותן.
                </li>
                <li>
                    <div>
                        <strong>
                            הודעות וכתובות
                        </strong>
                    </div>

                    <br>
                    כתובת הדוא"ל ומספר הטלפון הסלולרי, שהמשתמש מסר לחברה, ישמשו אותה ככתובת למסור לו הודעות לפי הסכם זה וכן
                    לצורך
                    העברת חומר פרסומי ושיווקי. המשתמש מתחייב לעדכן את החברה בכל שינוי בכתובת הדוא"ל ו/או מספר הטלפון הסלולרי
                    שלו לשם
                    המשך קבלת הודעות מהחברה. המשתמש רשאי להודיע לחברה בכל עת על רצונו להפסיק לקבל חומר פרסומי ושיווקי מהחברה
                    באמצעות
                    דואר אלקטרוני בכתובת: <a href="mailto:service@bizibox.biz" target="_blank">service@bizibox.biz</a>, או
                    למספר הטלפון הבא:03-5610382 או באמצעות שליחת דואר לכתובת הבאה: איי
                    פקט בע"מ, רחוב מוזס יהודה ונוח 13, תל אביב 6744252.


                </li>
                <li>
                    <div>
                        <strong>
                            קטינים
                        </strong>
                    </div>

                    <br>
                    על מנת להשתמש בפורטל ו/או באפליקציה עליך להיות מעל גיל שמונה עשרה (18). אנו שומרים על זכותנו לבקש הוכחת
                    גיל בכל
                    שלב, באופן שנוכל לוודא שמשתמשים מתחת לגיל שמונה עשרה (18) אינם משתמשים בפורטל ו/או באפליקציה. במקרה
                    שיובא
                    לידיעתנו כי אדם מתחת לגיל שמונה עשרה (18) משתמש בפורטל ו/או באפליקציה, אנו נחסום משתמש זה מלהיכנס לפורטל
                    ו/או
                    לאפליקציה. אנא פנה אלינו לכתובת <a href="mailto:service@bizibox.biz"
                                                       target="_blank">service@bizibox.biz</a>, אם הינך סבור כי ממשתמש מתחת
                    לגיל שמונה עשרה (18)עושה שימוש
                    בפורטל ו/או באפליקציה.


                </li>
                <li>
                    <div>
                        <strong>
                            כללי
                        </strong>
                    </div>

                    <br>
                    (א) אין בתנאי שימוש אלה כדי לגרוע מכל הסכמה אחרת בין החברה לבינך ו/או כדי לשנותה; (ב) תנאים אלה אינם
                    יוצרים ולא
                    יתפרשו כאילו הם יוצרים שותפות, מיזם משותף, יחסי עובד-מעביד, יחסי שליחות או יחסים בין מעניק זיכיון לבין
                    מקבל
                    זיכיון בין הצדדים לתנאים אלה;(ג) כל תביעה או הליך משפטי בקשר לפורטל, לאפליקציה ולשירותים ו/או לשימוש בו
                    יהיו
                    כפופים לחוקי מדינת ישראל ויובאו לדיון בבתי המשפט המוסמכים במחוז תל אביב, ישראל, ואתה מסכים בזאת לסמכות
                    השיפוט
                    הייחודית והמקומית של בתי משפט אלה; (ד) במקרה שייקבע כי הוראה כלשהי מתנאים אלה אינה חוקית, בטלה או שמכל
                    סיבה אין
                    אפשרות לאכוף אותה, אזי יראו הוראה זו כהוראה שניתן להפרידה מתנאים אלה, וההוראה האמורה לא תשפיע על התוקף
                    ועל
                    האפשרות לאכוף הוראה כלשהי מבין ההוראות הנותרות של תנאים אלה; (ה) אינך רשאי להמחות, להעניק רישיון משנה או
                    להעביר
                    באופן אחר את זכויותיך או את התחייבויותיך, כולן או מקצתן על-פי תנאים אלה ללא הסכמה מפורשת מוקדמת בכתב
                    מהחברה;
                    החברה רשאית לעשות פעולות אלה ללא כל הגבלה או חובת יידוע; (ו) שום ויתור של מי מהצדדים על כל הפרה או מחדל
                    על-פי
                    תנאים אלה לא ייחשב כוויתור על כל הפרה או מחדל, קודמים או מאוחרים יותר; (ז)כל כותרת של סעיף או כל כותרת
                    אחרת אשר
                    נכללת בתנאים אלה שולבה בהם לצורך נוחות ההתייחסות בלבד, וכותרת כאמור אינה מגדירה או מסבירה, בכל דרך, כל
                    סעיף או
                    הוראה אשר נכללו בתנאים אלה;(ח)ניתן יהיה להמציא לך הודעות בדואר אלקטרוני או בדואר רגיל.החברה רשאית גם
                    להמציא
                    הודעות על שינוי בתנאים אלה או בעניינים אחרים על-ידי הצגת הודעות אלה או על-ידי מתן קישור להודעות אלה; (ט)
                    אתה
                    מסכים, מבלי להגביל, כי גרסה מודפסת של תנאים אלה ושל כל הודעה אשר ניתנה באופן אלקטרוני תהיה ראיה קבילה
                    בהליכים
                    שיפוטיים או מנהליים אשר יתבססו על תנאים אלה, או בקשר אליהם, באותה מידה ובכפוף לאותם תנאים כמו מסמכים
                    ורשומות
                    עסקיים אחרים אשר הופקו במקור ונשמרו בגרסה מודפסת.
                    <br>

                    הנך מסכים ומאשר כי כל עילת תביעה העשויה להיות לך, הנובעת מ/או הקשורה בשירותים תעמוד לך במשך שנה מיום
                    קרות
                    האירוע. לאחר תקופה זו, מוסכם בזאת בין הצדדים כי עילת תביעה זו תתיישן.
                </li>
                <li>
                    <div>
                        <strong>
                            שאלות
                        </strong>
                    </div>

                    <br>
                    במידה ויש לך שאלות נוספות או הערות בנוגע לתנאים, הינך מוזמן לפנות אלינו באמצעות דואר אלקטרוני בכתובת:
                    <a href="mailto:service@bizibox.biz" target="_blank">service@bizibox.biz</a>, או למספר הטלפון הבא:
                    03-5610382 או באמצעות שליחת דואר לכתובת הבאה: איי פקט בע"מ, רחוב מוזס
                    יהודה ונוח 13, תל אביב 6744252. אנו נעשה את מירב המאמצים לחזור אליך תוך זמן סביר.
                    <br>

                    קראתי והבנתי את תנאי ההסכם ואני מסכים לכל התנאים המפורטים בהם.
                </li>
            </ol>
        </div>

    </div>
</div>
